[2012-03-16 00:49] ghost opened #2 "Nuget needs install1.ps to add wix projects OR..."
Essentially the results of @distantcam's [Managed/Wix bootstrapper](https://github.com/distantcam/WiXManagedBootstrapperExample) can look like this:

![](http://i.imgur.com/6vWZn.png)

To get to that stage requires (at a minimum) four projects - the actual app, the actual installer (wix) the bootstrapper (WPF) UI, the bootstrapper (wix3.6)
### Methods
#### Install1.ps

To get that into the project

[2012-03-16 01:15] anaisbetts commented on #2
What if we used the NuGet manifest to determine the customization stuff?

[2012-03-16 01:18] ghost commented on #2
That could work. Actually thats probably better, because thats post-build stuff, would have information about how/where the nuget is being deployed so the installer can be built correctly

[2012-03-16 01:28] distantcam commented on #2
It's not quite that simple. The setup project needs to know about the app (which files to install, which project to build for reference, any upgrade requirements, etc).

A custom tool would help a lot. I'm not sure what is the best way to proceed yet.

[2012-03-16 01:28] distantcam commented on #2
Whoops. Wrong button. :P

[2012-06-28 02:29] anaisbetts opened #12 "Cannot load two versions of the IAppSetup modules in the same domain"
During the end of the ApplyUpdates workflow, we do the following (simplified, but mostly true):
1. For every EXE file _in the old version_, load the `IAppSetup`s declared in the module via Reflection and call `OnVersionUninstalling`
2. For every EXE file _in the new version_, load the `IAppSetup`s declared in the module via Reflection and call `OnVersionInstalled`

However, as @thoemmi suspected,

[2012-07-10 17:14] anaisbetts commented on #12
Fixed!

[2012-07-10 17:14] #12 closed, assigned to nobody

[2012-09-07 03:18] JakeGinnivan opened #17 "Little bit of doco would be really helpful"
I have only spent 30 mins or so poking around, but some high level doco about how things fit together and get started would be super handy. I will leave my spiking to after there is some doco or you can quickly run me through it (on skype or something).

[2012-09-07 03:20] haacked commented on #17
The docs are right here: [](https://github.com/github/Shimmer)

:P

[2012-09-20 13:12] chrismcv commented on #17
agreed, this would be really useful

[2012-09-20 15:14] kellyelton commented on #17
I second and third.

[2012-09-20 17:52] anaisbetts commented on #17
This project has more documentation than any other project I've ever created! Go look in [the specs folder](https://github.com/github/Shimmer/tree/master/specs)

[2012-09-20 17:52] #17 closed, assigned to nobody

[2012-09-20 19:19] kellyelton commented on #17
I'm sure the fellow above, like me, was searching the wiki and the root of
the repo for info. Should have checked the 'Spec' folder. Maybe making a
note of that in the readme will help out.

On Thu, Sep 20, 2012 at 12:52 PM, Paul Betts notifications@github.comwrote:

[2012-09-20 19:50] #2 closed, assigned to nobody

[2012-09-21 00:49] JakeGinnivan commented on #17
I think the most useful thing for me at the moment would be to put in the readme that the installation point is not complete :) I was looking for how to create the installer for a while, not realising that only the update functionality is done.

[2012-09-23 10:32] DoCode opened #20 "Real world example"
Can you publish an real world example for better understand the technical workflow?

[2012-09-25 17:49] anaisbetts commented on #20
All of the user-level documentation will be written once the library is finished

[2012-09-25 17:49] #20 closed, assigned to nobody

[2012-10-22 03:30] shiftkey opened #31 "CreateReleasePackage project should be a Powershell script"
Why?

1) So that it can be run from the command line - build environments etc
2) So that it can be run inside VS - dev-friendly scenarios

Not sure if you've already had a crack at it, but I'm happy to throw a bit of time at it - should be able to reuse much of what's in Shimmer.Core and just port the rest of the C# code to a PS1

[2012-10-23 18:19] anaisbetts commented on #31
So, CreateReleasePackage is an internal EXE for Create-Release.ps1, which is supported both inside VS as well as outside of VS (if you give it some more params). Maybe that's what you're looking for?

[2012-10-23 19:01] shiftkey commented on #31
Basically _high-five_

Sent from my Windows Phone

---

From: Paul Betts
Sent: 24/10/2012 05:24
To: github/Shimmer
Cc: Brendan Forster
Subject: Re: [Shimmer] CreateReleasePackage project should be a Powershell script (#31)

So, CreateReleasePackage is an internal EXE for Create-Release.ps1, which is supported both inside VS as well as outside of VS (if you give it some more params). Maybe that's w

[2012-10-23 20:43] anaisbetts commented on #31
I should make this more clear, otherwise people will try to use CreateReleasePackage directly.

[2012-10-23 20:43] #31 closed, assigned to nobody

[2012-10-23 21:00] shiftkey commented on #31
Clowns like me should also learn to RTFM.

Sent from my Windows Phone

---

From: Paul Betts
Sent: 24/10/2012 07:44
To: github/Shimmer
Cc: Brendan Forster
Subject: Re: [Shimmer] CreateReleasePackage project should be a Powershell script (#31)

I should make this more clear, otherwise people will try to use CreateReleasePackage directly.

—
Reply to this email directly or view it on GitHubhttps://g

[2013-01-15 12:28] alimbada commented on #20
So with the advent of Win8, we're starting to see a lot issues with ClickOnce and are looking for an alternative. Is Shimmer ready for real world usage yet? If not, what is there left to do. I'd be interested in getting involved if it helps speed things up. :-)

[2013-01-15 19:11] anaisbetts commented on #20
@alimbada Not finished yet, I ended up having to put more work into other projects, but I'll be getting back to it very soon!  If you wanted to contribute, one thing that Shimmer handles really badly is reporting user errors (i.e. packages that are missing needed metadata, errors in creating delta / full packages, etc) - having really solid error reporting will help a lot!

[2013-01-28 06:28] shiftkey opened #36 "ExecuteInNewAppDomain asplodes with Serialization issue"
Yes, I've dusted off MarkPad. Yes, I'm trying to ship three different updates in one long weekend. No, you cannot judge me :P

Running from source on master so that I can step through the code - let me know if there's code that you know isn't ready...

I get to the UpdateManager.installPackageToAppDir call [here](https://github.com/github/Shimmer/blob/master/src/Shimmer.Client/UpdateManager.cs#L18

[2013-01-28 07:17] shiftkey commented on #36
So I swapped out this code in UpdateManager.cs [here](https://github.com/github/Shimmer/blob/master/src/Shimmer.Client/UpdateManager.cs#L252)

[code]

With my own implementation (actually just the same code, but [Serializable]):

[code]

which then gives me a different error (same stack trace):

Type 'Shimmer.Client.UpdateManager+<>c__DisplayClass30' in assembly 'Shimmer.Client, Version=0.6.0.0, C

[2013-01-28 08:33] shiftkey commented on #36
Right, so I'm not going crazy - the sample application shows the exact same behaviour.

Let me know whether these changes are ready for those insane enough to be building from source.

I'll pipe up if I can help out with it, brain is fried right now.

[2013-01-29 00:10] anaisbetts commented on #36
I think some sort of upgrade killed this - Shimmer is still on my radar, I've just got too long of a TODO list

[2013-01-29 00:12] shiftkey commented on #36
All good, let me test it out with the source version of 0.6.0.0-beta and see if its happening there as well.

[2013-02-01 03:32] becdetat opened #37 "Microsoft.Bcl reference breaks solution on fresh load"
I've only just started playing so maybe i'm missing something but on a fresh clone, SampleUpdatingApp.csproj and Shimmer.Core.csproj both import `\packages\Microsoft.Bcl.1.0.11-beta\tools\portable-net40+sl4+win8+wp71\Microsoft.Bcl.targets` as a project which doesn't exist until the packages are pulled down. Which can't happen because the projects don't load. Which don't load because... well you ge

[2013-02-01 03:54] becdetat commented on #37
Workaround:
1. open `Shimmer.Core.csproj` and `SampleUpdatingApp.csproj` and comment out `<Import Project="..\packages\Microsoft.Bcl.1.0.11-beta\tools\portable-net40+sl4+win8+wp71\Microsoft.Bcl.targets" />`
2. Reload the projects
3. open PM console and run `update-package`, there is also a failure involving reactiveui-core and reactiveui-testing that I think can be ignored
4. check that `packages\

[2013-02-01 13:18] darrelmiller commented on #37
I worked around the first issue by using Install-Package Microsoft.Bcl -Pre from the Packageing Console Window.  I didn't bother hunting for the System.Windows.Interactivity.dll to solve that problem.  Although I really like the idea of the project, there seem to be a huge number of dependencies in this project just to create an installer.  Too many moving parts scare me.

[2013-02-01 13:31] distantcam commented on #37
Yeah, I know @xpaulbettsx is in love with ReactiveUI, but with 10 libraries + BCL references pulled in by it I think it's too much for a simple installer.

[2013-02-01 17:08] anaisbetts commented on #37
@distantcam ReactiveUI isn't used everywhere (specifically, you don't have to add it to your app for updates)

[2013-02-02 00:30] distantcam commented on #37
@xpaulbettsx I was talking about the installer that is made. RxUI is too much for an installer IMHO.

You don't even need a full framework. Using either a DelegateCommand, or even just implementing ICommand when you need it, and wiring up Views with ViewModels manually is possible with something as simple as the installer.

[2013-02-02 07:36] becdetat commented on #37
I was most excited by the specification, rather than the implementation. If you just took the spec and could implement that with any installer - I use NSIS for the WinForms LOB app that keeps me mostly employed - and work in a reference updater implementation with Action<> callbacks for example.

My NSIS scripts write to `c:\program files`. My LOB app queries a database for the current version on

[2013-02-03 00:21] anaisbetts commented on #37
The Internet is really fast nowadays :)    I see what you're saying. Shimmer's got a way to go before it's finished, I promise.

[2013-02-14 23:46] anaisbetts commented on #36
This is fixed in 065508582d460dd, unclear why it ever worked in previous versions

[2013-02-14 23:46] #36 closed, assigned to nobody

[2013-02-14 23:51] #37 closed, assigned to nobody

[2013-02-14 23:51] shiftkey commented on #37
_"joke about Australian internets goes here"_

[2013-02-15 20:16] mike-marshall opened #38 "Simmer nuget package?"
Many of the instructions reference installing the Shimmer nuget package first.  But a search both in the VS Package Manager and nuget.org turns up 0 results.  Is it under a different name or has it been moved?  I get the feeling I am being dense but the descriptions in the specs folder all reference installing a nuget package in your WPF application solution as step number 1

[2013-02-15 20:42] MatthewSteeples commented on #38
You need to include pre-release packages. http://nuget.org/packages?q=Shimmer&prerelease=true&sortOrder=relevance

[2013-02-15 20:48] mike-marshall commented on #38
Thanks!

[2013-02-15 20:48] #38 closed, assigned to nobody

[2013-02-15 20:50] anaisbetts commented on #38
The packages that are live right now are solely for evaluating the API (i.e. try to implement the client side, tell me if it doesn't work with your app), Shimmer isn't finished yet!

[2013-02-15 20:54] mike-marshall commented on #38
10-4.  Just evaluating for a potential project.  I'll post back with any issues

[2013-03-19 17:30] anaisbetts opened #39 "Shimmer needs to handle Profiles and PLibs"
![](http://cl.ly/image/1Z2C1m1a3S38/Image%202013.03.19%2010:14:53%20AM.png)
## It Gets Worse

Here's the tricky part, with the invention of PLibs, we actually don't _know_ what assembly they're actually referencing - NuGet itself is deterministic about it, but there's no reason why someone couldn't add a reference to a different assembly by-hand. This problem also happens with NuGet packages that

[2013-03-19 17:35] anaisbetts opened #40 "Create-Release silently succeeds if it doesn't find any NuGet packages to process"
This results in a very confusing situation, since it finishes immediately, yet nothing happens

[2013-03-19 17:36] anaisbetts opened #41 "CreateReleasePackage.exe creates log spew which PowerShell interprets as an error"
![](http://cl.ly/image/3a330H3N293A/content)

[2013-03-19 17:37] shiftkey commented on #39
Paging @dsplaisted to this thread. Paging @dsplaisted to this thread. _sirens wailing_

[2013-03-19 17:43] anaisbetts commented on #39
I don't think this is a bug in PLibs, it would still happen even if PLibs didn't exist, it just is way more common now

[2013-03-19 17:59] shiftkey commented on #39
Nah, just wondering if Daniel has any input on this.

[2013-03-19 19:02] dsplaisted commented on #39
@dsplaisted here, reporting for duty :)

Can you explain the context here?  I kind of know in general what Shimmer does, but when do you need to know what an assembly references and how do you use that information?

[2013-03-19 19:14] wwahammy commented on #39
I believe Microsoft.CCI allows you to look at the physical references in the Assembly. (I don't remember if that's functionality was added or they're just using it from .NET offhand).

[2013-03-19 19:15] anaisbetts commented on #39
@dsplaisted So, the idea here is that we're trying to take a NuGet package that has a bunch of dependencies, and create a _flattened_ NuGet package (i.e. one that has no dependencies, [more details here](https://github.com/github/Shimmer/blob/master/specs/Implementation.md#the-tricky-part)).

But the tricky bit is, we also need to strip out DLLs that aren't actually being _referenced_ by the main

[2013-03-19 19:19] anaisbetts commented on #39
## Possible Solution
1. Take the original NuGet package
2. Instead of blindly recursively merging dependencies [as described in the spec](https://github.com/github/Shimmer/blob/master/specs/Implementation.md#the-tricky-part), determine the profile of the top-level NuGet package...
3. ...then use the same algorithm NuGet would use to add the reference, to determine which platform folder to keep.

T

[2013-03-19 19:30] dsplaisted commented on #39
The possible solution of starting with the top-level profile and using NuGet's algorithms to determine what DLLs are actually referenced sounds like the right solution.

You should probably be able to use those algorithms directly by referencing NuGet.Core instead of re-writing them yourself.

Also, once you've flattened all the NuGet references, you should probably inspect the assembly references

[2013-03-19 20:10] anaisbetts commented on #39
Yep, Shimmer already uses NuGet.Core pretty heavily so that'll definitely be my plan.

Not a bad idea for verification later in the build, where we have a notion of a build directory / project (in Shimmer.Core, we only know about NuGet packages and assume you created the input package correctly)

[2013-04-11 14:48] riccardobecker opened #44 "Easy example WPF"
Hi there,

love the way Shimmer should work only good documentation is missing. I am working on a WPF application that needs to be updated when a new version is ready.

regards

[2013-04-11 17:25] haacked commented on #44
Yeah, we really need to improve the documentation. Would you be interested in helping out? I'm sure we can discuss areas we need help and provide help.

[2013-04-11 19:14] Folcon commented on #44
I'm interested in this as well Phil, I've modified `Create-Release.ps1` (https://gist.github.com/Folcon/5366261) and still just a few steps away from getting it working. I've added `EchoArgs.exe` (from the PowerShell Community Extensions - http://pscx.codeplex.com) to help debug it. One of my issues stems from the fact that the pathing seems to be failing. If there are spaces in the path or if any

[2013-04-11 23:32] Folcon opened #45 "Generated Setup.exe throws InvalidOperationException as the current thread has no dispatcher associated with it."
Is there some part of the process I'm missing, I've managed to build the setup.exe, however when I run it crashes with a `InvalidOperationException` as the current thread has no dispatcher associated with it.
Trace appears below:

[code]

[2013-04-12 08:33] riccardobecker commented on #44
Hi guys, it's more like getting the whole thing running :-) There is no tutorial whatsoever and the code is quite complex.

[2013-04-12 21:55] haacked commented on #44
@Folcon The pathing issue? Did you file an issue on that? I'm betting we're not properly quoting the path somewhere. We should always be doing that.

[2013-04-13 02:18] anaisbetts commented on #44
Hey guys, this isn't finished yet - once it is, there will _totally_ be way more documentation and it'll be much more straightforward.

[2013-04-13 02:24] Folcon commented on #44
@Haacked no I haven't actually, I thought I was misusing it, my gist version seems to work on my local machine and the server which uses share paths, but I'm not certain it's completely safe just yet.

@xpaulbettsx That's fine Paul, more seeing if there was any obvious things that I'm missing, I suspect I'm missing a trick with the semantic versioning for example. Not to mention why my setup.exe c

[2013-05-27 13:03] recumbent opened #46 "Create-Release,ps1 fails if there are spaces in $releaseDir"
Specifically here:

[code]

This causes a problem when subsequently using `$fullRelease` when invoking candle.

The reason for the path being output three times (excepting that its actually twice with a subtly different path in the middle) is that the paths for the last full release and the delta file are also being output when there's an existing RELEASES file in the releases folder.

I can see h

[2013-07-18 08:58] cguedel commented on #44
@xpaulbettsx Can you clarify the "this isn't finished yet" statement a little? Is this code ready to use or not?

(I was able to create a setup.exe, but it crashes when I start it)

[2013-07-19 04:18] anaisbetts commented on #44
It is not currently ready to use as-is, but we'll be starting work on this again very soon (GitHub has hired someone to work on this full-time)

[2013-08-22 03:36] shiftkey opened #48 "Mono.Options should not be a dependency"
This means consumers of Shimmer will have it installed, despite it being compiled into the Shimmer assembly.

Kill it with :fire:

[2013-08-22 05:00] distantcam commented on #48
There's an option in NuGet 2.7 to mark dependencies as build only, which should fix this issue.

https://nuget.codeplex.com/workitem/1956

[2013-08-22 05:02] shiftkey commented on #48
:sparkles: Thanks for the heads-up!

[2013-08-22 11:31] #40 closed, assigned to shiftkey

[2013-08-22 11:31] #41 closed, assigned to shiftkey

[2013-08-22 11:31] #45 closed, assigned to shiftkey

[2013-08-22 11:31] #48 closed, assigned to shiftkey

[2013-08-22 11:33] anaisbetts commented on #48
:+1:

[2013-08-22 11:37] shiftkey commented on #45
This will be resolved once I publish v0.6.3 to NuGet!

[2013-08-22 11:39] anaisbetts commented on #45
@Folcon Shimmer isn't finished yet, this is one of the last pieces that needs work, getting Setup.exe to be reliable.

[2013-08-22 11:55] shiftkey commented on #45
@xpaulbettsx this issue specifically was something I found and fixed here ebbb1f07f34d552ba5334ad61bb6551bd1ee0f84

Calling `app.Run` before the dispatcher was set was causing Bad Things.

[2013-08-25 18:24] qJake commented on #46
FYI: This code no longer appears in [Create-Release.ps1](https://github.com/github/Shimmer/blob/master/Create-Release.ps1), so this bug should be closed.

[2013-08-26 11:36] shiftkey opened #52 "Upgrade NuGet.Core to 2.7"
I don't expect any issues, but we should start using this now to ensure there's no edge case headaches.

[2013-08-26 12:52] #46 closed, assigned to nobody

[2013-08-27 04:12] shiftkey opened #53 "Generating an Installer - Implement Powershell Script"
I've got an ad-hoc script to do this [here](https://github.com/shiftkey/TestApp/blob/master/CutRelease.ps1) but this really should be something that ships as a Powershell feature.

Usage:

`New-Installer`

The script searches for all projects which have a .nuspec file inside and calls the equivalent of:

`. Create-Release.ps1 -ProjectNameToBuild "TestApp" -SolutionDir . -BuildDirectory "bin\Releas

[2013-08-27 04:14] shiftkey opened #54 "Generating a Release"
The quickstart guide needs an explanation of the `Publish-ShimmerRelease` command.

Explain:
- when you should call this (i.e. after doing a build)
- what it does (create the .nuget packages and installer)

[2013-08-27 04:18] shiftkey opened #55 "Hosting your Installer and Updates"
Outline the options available:
- any HTTP server that can serve out flat files
- a network share that can be reached from the user's computer
- a local folder

Explain the `RELEASES` file and what it is there for

[2013-08-27 04:19] shiftkey opened #56 "Using Shimmer.Client"
A guide with code samples for implementing the update checks in your app

[2013-08-27 04:21] shiftkey opened #57 "How Your App Is Deployed"
Some documentation explaining how your app is deployed using Shimmer and how updates are applied.

[2013-08-27 04:23] shiftkey opened #58 "Create-Release does something funky when you have multiple releases in build output"
Repro steps:
1. Create a new release
2. Increment the version numbers
3. Rebuild the project
4. Create another new release

You should see than an installer gets created for the new version, but it uses the old .nupkg.

TODO:
- test that this is occurring with NuGet 2.7 inside Visual Studio (previous versions do not clean out old artifacts)

[2013-08-27 05:50] shiftkey opened #59 "Build Server Automation"
Given I've been targeting the VS experience with 0.7
- install
- create installer and package
- deploy manually

How should we target scenarios with automating the generation of an installer on the build server? Separate PS scripts? Another NuGet Package? Something else?

[2013-08-27 06:33] shiftkey opened #60 "Running the tests locally requires admin rights (to netsh)"
`netsh http add urlacl url=http://+:30405/ user=MYMACHINE\MyUser`

This should be part of the bootstrap setup for the dev environment.

That is,
- `.\script\bootstrap.ps1`
- detect the current user and machine name
- prompt to elevate
- invoke netsh as above with the expected value

So that others can run the same tests on their machine and see that it all works

[2013-08-27 06:54] shiftkey opened #62 "Revisit BitsManagerTests"
https://github.com/github/Shimmer/blob/master/src/Shimmer.Tests/Client/BitsManagerTests.cs

They look kinda important

[2013-08-27 08:22] distantcam commented on #59
MSBuild Task? It may suck but msbuild is everywhere that projects are.

Also PS isn't supported on mono.

[2013-08-27 08:28] anaisbetts commented on #59
Neither are the concept of running an installer to install programs :)   Shimmer is a project that is interesting solely on Windows.

As to the CI build, it's a bit weird - I explicitly designed this _not_ to create a Setup.exe every time you build (i.e. the act of creating a release is an Explicit action).

[2013-08-27 08:35] distantcam commented on #59
Doh! :speak_no_evil:

It wouldn't have to create a setup.exe every time you build locally, but it would be nice to have your CI spit out an installer for you.

[2013-08-27 09:38] anaisbetts commented on #59
Agreed - trying to think of the most CI friendly way to do that. The CI servers we use at GitHub require you to write a script anyways, so invoking the `Create-Release` script isn't a big deal there. More Windows-friendly ones that want everything to be in MSBuild might make that trickier

[2013-08-27 09:56] anaisbetts commented on #62
So, my preconceived notion of how BITS worked was fatally flawed when I wrote that code, it probably needs to be gutted and rewritten. It's actually pretty difficult to work with in practice, especially without a proper C# binding (the one I was using was Pretty Bad™).

[2013-08-27 10:40] shiftkey commented on #62
Duly noted. Might have a read tonight because to avoid writing more Powershell code.

[2013-08-27 10:44] shiftkey commented on #62
So I should avoid SharpBITS.NET then?

I'm poking around in that source code now but happy to go back to basics.

[2013-08-27 21:24] matteomigliore commented on #44
Hi! Any news?

Is there someone to chat with about a WPF sample? I can help to produce the documentation when I understand how Shimmer works :).

I need it for a real-world project.

[2013-08-27 23:21] #52 closed, assigned to shiftkey

[2013-08-28 04:43] shiftkey commented on #54
Please review this section - https://github.com/github/Shimmer/wiki/QuickStart#publish-a-release

[2013-08-29 04:44] #53 closed, assigned to nobody

[2013-08-29 06:29] shiftkey commented on #54
I'm happy with how easy that is (and the explanation after).

[2013-08-29 06:29] #54 closed, assigned to nobody

[2013-08-29 23:44] shiftkey commented on #44
I'm working on a couple of demo apps here:
- https://github.com/shiftkey/TestApp
- https://github.com/shiftkey/play-windows

But all I've been doing so far is running through the [QuickStart](https://github.com/github/Shimmer/wiki/QuickStart) steps against an existing app. It shouldn't be rocket science to get started with Shimmer.

[2013-08-29 23:50] shiftkey opened #65 "Use %PROGRAMDATA% instead of %LOCALAPPDATA% for deploying apps"
From @matteomigliore:

I know one of the things that @xpaulbettsx wanted at the start was to have these apps sandboxed per-user. Making "shared installs" an option will probably require some research and experimentation.

TODO:
- discuss how this fits with our initial goals of Shimmer

[2013-08-29 23:58] shiftkey opened #66 "What about installing a .NET 4.5 app into an OS without .NET 4.5 installed?"
From @matteomigliore:

One of my test apps is .NET 4.5, but I have not tested installing it in an environment that doesn't have .NET 4.5. I suspect this requires some changes to the WiX template, but nothing huge.

TODO:
- confirm this breaks in a Windows 7 install without .NET 4.5
- propose changes to template to support this

@matteomigliore - am I understanding this right?

[2013-08-30 06:47] distantcam opened #68 "Shimmer commands don't work with paths with spaces"
I created a test app in `C:\users\cameron.macfarland\documents\visual studio 2012\Projects\ShimmerTestApp` and then tried `New-Release` which spat the dummy at the path having spaces.

Specifically the error was in [commands.psm1 line 45](https://github.com/github/Shimmer/blob/master/src/CreateReleasePackage/tools/commands.psm1#L45)

Might want to put your test app in a directory with a space in t

[2013-08-30 06:47] matteomigliore commented on #66
@shiftkey yes, is what I mean.

I can try the setup in a clean VM that I've created for tests.

[2013-08-30 07:36] anaisbetts commented on #65
:-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1:

[2013-08-30 07:36] anaisbetts commented on #66
This should work, the installer will pull down .NET before attempting to install

[2013-08-30 07:51] matteomigliore commented on #65
@xpaulbettsx I don't understand what do you mean :). Is it possible to use %ProgramData% to have no UAC and a shared install, no?

[2013-08-30 14:21] haacked commented on #65
Note he's referring to the All Users profile and not Program _Files_.

Can you install to that without UAC? Good question. Probably not as it
would mean one user could affect another without admin privileges and that
would be bad.

On Friday, August 30, 2013, Matteo Migliore wrote:

[2013-08-30 14:26] shiftkey commented on #65
That's what I suspect. Any and all evidence to the contrary is welcome though...

[2013-08-30 14:28] matteomigliore commented on #65
@Haacked so what do you suggest to allow an installation without UAC in a shared folder for all users?

[2013-08-30 16:21] anaisbetts commented on #65
`%ProgramData%` isn't ACLed to allow standard users to create directories:

![](http://cl.ly/image/3F0n2J0I1H0G/content#png)

I hate to say it, but this almost certainly isn't possible - either you're writing to a location that anyone can change (so it's insecure), or you need UAC.

While I certainly would welcome a proposal (i.e. the "How" part) to allow per-machine installs, Shimmer has always b

[2013-08-30 16:21] matteomigliore commented on #44
Hi Brendand, I'm trying your samples.

The TestApp creates the Setup.exe but when I launch it show an error in the
WPF application,
and I don't understand where the UI for the installation is defined.

In the QuickStart you should write, as first step:
- Enable Nuget Package Restore

Then, installing the Shimmer package should include the .nuspec file into
the project,
now it is included as file b

[2013-08-30 16:33] matteomigliore commented on #65
Is not a big problem, is just to avoid to install the application (and update) for each Windows user.
But probably is better to use %AppData% for everything, binaries and data, as Dropbox for example, thanks to your observations I know that is the right direction.

[2013-08-30 22:40] shiftkey commented on #68
Ugh, yeah, will do. Thanks for the heads up.

[2013-08-30 23:52] shiftkey opened #69 "Shimmer install from GUI does not include generated nuspec file"
But `Install-Package` does. Joy.

![](http://i.imgur.com/D9dQr.gif)

[2013-08-30 23:55] shiftkey commented on #44
I'm not clear here on which part is the issue:
- the TestApp itself, which is WPF
- the installer, which is also WPF

Added

Captured as issue #69

[2013-08-31 02:34] shiftkey opened #70 "Using new installer attempts after already installing uses non-existent deltas"
Bit of a strange one, here's the approximate repro steps:
1. Create installer for Version 1.0.0
2. Install on machine
3. Update to 1.1.0 and create new release
4. Run new installer on machine which app is already installed

Expected behaviour: it applies the new package over the old package (maybe?)

Actual behaviour:
- it attempts to update the existing app to the new version using delta releases

[2013-08-31 02:50] shiftkey commented on #70
Suggested Resolution Number 1:

#### ship delta packages with each new release

Pros: ensures migration steps are applied for interim releases

Cons: larger installer size

[2013-08-31 06:06] matteomigliore commented on #44
The TestApp works.

The installer doesn't work, I obtain the message "Failed to install the application".
I followed the "Getting started" with a new project and I obtain the same error.

Other to this I've two questions:
- is there something that explains how to customize the installer UI (a preview waiting fot the "official section")?
- is there something that explains how to use the update syst

[2013-08-31 06:22] shiftkey commented on #44
Can you share the contents of the log files in `%APPDATA%\Shimmer` - these should help me to diagnose what's happening.

I'm focusing on the core install and update experience at the moment, so I haven't had a chance to exercise and document that. But this is the milestone: https://github.com/github/Shimmer/milestones/0-9-building-a-custom-installer

Updates are explained here: https://github.com/

[2013-08-31 06:34] matteomigliore commented on #44
Yes, this is the error:
System.IO.FileNotFoundException: The system cannot find the file specified. (Exception from HRESULT: 0x80070002)
   at ReactiveUIMicro.AwaitableAsyncSubject`1.GetResult()
   at Shimmer.Client.InstallManager.<executeInstall>d__6.MoveNext()

The same error for my project.

Great, sorry, I didn't see before.

Ok, so is possible to use a URL also.

[2013-08-31 06:36] shiftkey commented on #44
I'm looking at this one right now too. Should be fixed in the next release.

Correct

[2013-08-31 18:09] flagbug commented on #44
I've got a similiar error that crashes the installer:

[code]

Steps to reproduce:
1. Install the application
2. Install the application with the same Setup.exe and version, without removing the previous version

[2013-08-31 21:25] anaisbetts commented on #69
hwhæt.

[2013-09-01 03:50] shiftkey commented on #44
@flagbug @matteomigliore

Here's a snippet of what's going on under the hood (next release will have these diagnostics):

[code]

I'm covering this in #70

[2013-09-01 04:02] shiftkey commented on #70
Suggested Resolution Number 2:

#### uninstall current version, install newer version

Pros: smaller installer size, easier to test

Cons: your installer steps need to hang around forever and ever

[2013-09-01 04:59] shiftkey opened #73 ".NET 4 App + Shimmer.Client = Indirect reference issues"
Just did another quick install into a test WPF app.

These are the packages I get:

[code]

But I also get a couple of warnings:

[code]

[code]

Investigate whether something needs to be updated in Shimmer.Client

[2013-09-01 11:01] #68 closed, assigned to nobody

[2013-09-01 13:22] shiftkey opened #74 ""Deleted" folders interfere with upgrades"
So after doing an upgrade I have these two folders:

![screen shot 2013-09-01 at 11 17 49 pm](https://f.cloud.github.com/assets/359239/1064055/0ad3acec-1309-11e3-8b78-288ba0fc6f31.png)

They're both marked "delete at next reboot" and subsequently don't have an owner:

![screen shot 2013-09-01 at 11 19 22 pm](https://f.cloud.github.com/assets/359239/1064056/2c47e01e-1309-11e3-97a8-7956a31b6abe.png)

[2013-09-01 13:27] shiftkey opened #75 "ReflectionTypeLoadException when finding AppSetups"
Using TestApp (need to isolate a bette repro - this is just a reminder for me):

[code]

[2013-09-01 13:58] shiftkey commented on #56
You can read the guide here: https://github.com/github/Shimmer/wiki/How-do-updates-work%3F

[2013-09-01 14:00] shiftkey commented on #70
The simpler fix (scenario 2) for now is implemented in https://github.com/github/Shimmer/commit/4f06f7524bf2cfdf0420dd0feb8c1249ec69d69f and I'll close that if/when it gets merged in.

[2013-09-01 15:57] anaisbetts commented on #74
Wait, why is the _new_ version marked for deletion?

[2013-09-01 22:42] flagbug opened #76 "Shimmer selects wrong packages from the packages folder"
Say you have `FooLibrary.1.0.0` and `FooLibrary.1.0.1` laying in your packages folder (This happens if you have different branches with different versions of the package and package restore enabled).

When creating a new release, the package contains version 1.0.0 of the library, even though package version 1.0.1 is referenced in the application.

[2013-09-01 23:44] shiftkey commented on #74
My latest version is 1.5 (it's not there because I suspect the `cleanDeadVersions` call is failing so it gives up).

These are both old versions. Yes, I'm probably doing naughty things. :trollface:

[2013-09-02 00:00] shiftkey commented on #76
Which version of Shimmer are you using?

[2013-09-02 00:37] shiftkey opened #77 "CreateReleasePackage is added to lib folder (not necessary)"
It's just a tool, kill this reference with :fire:

Bonus hilarity points: Shimmer tries to run it as part of app startup. :no_good:

[2013-09-02 01:38] shiftkey commented on #58
This should be fixed with 0.6.9 - wherein I only create one installer (for the latest release)

[2013-09-02 05:38] flagbug commented on #76
Oops, sorry, `0.6.8`

[2013-09-02 07:40] #77 closed, assigned to nobody

[2013-09-02 09:11] #70 closed, assigned to nobody

[2013-09-02 09:20] shiftkey commented on #76
@flagbug can you re-test this in 0.6.10 - I saw that issue a while ago but I've been able to create clean packages despite having ~6 releases in my build output...

[2013-09-02 09:21] #58 closed, assigned to nobody

[2013-09-02 09:51] flagbug commented on #76
I would, but with 0.6.10, I'm getting the following error when doing a `New-Release`

[code]

[2013-09-02 09:59] shiftkey commented on #76
That's fascinating - I haven't seen that one yet.

What does your `RELEASES` file contain - and what's the name of the `nupkg` that's being passed into the installer step?

**P.S:**

If you want to step into that code clone down the Shimmer repo and run this command:

`.\Create-Release.ps1 -config Debug`

And install those packages into the solution.

I think it's related to [this method](https://

[2013-09-02 10:03] flagbug commented on #76
@shiftkey Oh, and I think we're both talking about different things. I'm talking about the directory where NuGet stores the packages for the project, the `\packages` folder.

![](http://i.imgur.com/QTBduaR.png)

Notice how the Caliburn.Micro package is present both as version 1.4.1 and 1.5.1. Version 1.4.1 is an artifact of another branch I'm working on, but version 1.5.1 is referenced in the proj

[2013-09-02 10:08] michaelsync opened #81 "Shimmer: No .nupkg files were found in the build directory"
Hello,

I am getting this error even I have built the project so many times. Is there anything that I am missing?

PM> New-Release -Project ConsoleApplication6
Shimmer: Publishing release for project ConsoleApplication6
Shimmer: Creating Release for C:\Users\michael.sync\Documents\Visual Studio 2012\Projects\ConsoleApplication6 => C:\Users\michael.sync\Documents\Visual Studio 2012\Projects\Console

[2013-09-02 10:08] flagbug commented on #76
@shiftkey The error with `New-Release` seems to appear when doing two subsequent `New-Release` without changing the version number in between. (I expected it to overwrite the newest release if the version numbers don't change)

[2013-09-02 10:13] shiftkey commented on #76
A-ha! Right, now I'm with you.

[2013-09-02 10:14] michaelsync commented on #81
Here is my build log.

1>------ Rebuild All started: Project: ConsoleApplication6, Configuration: Release Any CPU ------
1>  Restoring NuGet packages...
1>  To prevent NuGet from downloading packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck 'Allow NuGet to download missing packages'.
1>  All packages listed in packages.config are already in

[2013-09-02 10:14] shiftkey commented on #76
So what does the .nuspec file for your project look like?

EDIT: no, the `packages.config` file. Oops.

[2013-09-02 10:15] michaelsync commented on #81
Wow! I know the issue already. I need to enable the Nuget package restore.

[2013-09-02 10:15] #81 closed, assigned to nobody

[2013-09-02 10:15] michaelsync opened #82 "Shimmer Vs ClickOnce"
Hello,

I found this "It's like ClickOnce but Works™" interesting. But I still love to know what you guys fix for ClickOnce.

Thanks!

[2013-09-02 10:20] flagbug commented on #76
@shiftkey

[code]

[2013-09-02 10:21] shiftkey commented on #76
Great. I'll see if I can write a test to isolate this issue.

[2013-09-02 10:24] michaelsync opened #83 "Creating the package doesn't work when there is a space in directory"
Hello,

I think "New-Release -Project ConsoleApplication6" doesn't work when path has a space.

PM> New-Release -Project ConsoleApplication6
Shimmer: Publishing release for project ConsoleApplication6
Shimmer: Creating Release for C:\Users\michael.sync\Documents\Visual Studio 2012\Projects\ConsoleApplication6 => C:\Users\michael.sync\Documents\Visual Studio 2012\Projects\ConsoleApplication6\Releas

[2013-09-02 10:26] flagbug commented on #83
Are you using the latest version? This should have been fixed with https://github.com/github/Shimmer/pull/72

[2013-09-02 10:29] michaelsync commented on #83
I just changed the version and tested it again. I got different error.

[code]

[2013-09-02 10:30] michaelsync commented on #83
The version that I just tested is 0.6.10-beta.

[2013-09-02 10:34] michaelsync commented on #83
ok. I would say that it might be diff issue. I tested in diff path that doesn't have any space but got the same error.

[2013-09-02 10:35] michaelsync commented on #83
I got "CreateReleasePackage has stopped working" error.

[2013-09-02 11:24] flagbug commented on #83
Seems like the problem was introduced in 0.6.10

[2013-09-02 11:24] shiftkey commented on #83
I wonder if this is related to having a fresh `RELEASE` file

[2013-09-02 11:37] shiftkey commented on #83
Confirmed: for some reason I'm just blindly assuming the RELEASES file has stuff.

I'll push a fix now which will check that.

[2013-09-02 11:50] shiftkey commented on #83
I've pushed `0.6.11` which does that sanity check for an empty `RELEASES` file. Let me know if it's still happening on your end.

https://www.nuget.org/packages/Shimmer/0.6.11-beta

[2013-09-02 12:00] flagbug commented on #83
Nope, the error still occurs.

My `RELEASES` file:
`61E8CAE95BDA1C94A79F06FF3D088790B6A862C9 Espera-1.7.6-beta-full.nupkg 4618858`

On an empty release directory, the initial `New-Release` works fine, but all subsequent give the above error.

Funny thing is: The releases are actually created fine, my `RELEASES` file looks afterwards like this, even though the console said an exception was thrown a

[2013-09-02 12:13] flagbug commented on #83
@shiftkey I hope this helps:

![](http://i.imgur.com/MN1rtp5.png)

EDIT: It fails at line 40 where it tries compare the versions, but `x.Version = 1.7.6` and `package.Version` is also 1.7.6, even though my AssemblyInfo version is 1.7.7

EDIT EDIT: Aha! It seems that this is related to https://github.com/github/Shimmer/issues/58 where it fails when the build directory has multiple .nupkg files with

[2013-09-02 13:02] shiftkey commented on #82
- full control over the downloading and installing of files - supporting ClickOnce issues for users is hard
- so many issues [reported that probably won't be fixed ever](https://www.google.com/search?q=clickonce+proxy+update+site%3Aconnect.microsoft.com) - we need a replacement
- installable without network access - a big request
- extensibility - run custom steps as part of the installer

[2013-09-02 13:18] shiftkey commented on #83
Right, I don't like MaxBy in there - let's see if i can kill that off and catch this as a regression...

[2013-09-02 13:36] #82 closed, assigned to nobody

[2013-09-02 13:37] anaisbetts commented on #82
@michaelsync Check out the docs folder and the readme, it will explain everything

[2013-09-02 23:53] #83 closed, assigned to nobody

[2013-09-03 00:10] luizbon opened #87 "External Packages Folder"
Using a Nuget.config outside the solution folder is not working. Basically because Create-ReleaseForProject function uses $solutionDir + "packages" and this breaks.

Using Nuget.config outside solution dir is described here: http://docs.nuget.org/docs/reference/nuget-config-file

[2013-09-03 00:14] #76 closed, assigned to nobody

[2013-09-03 00:23] shiftkey commented on #87
To clarify...

If you:
- specify a nuget.config file at the same level as the solution
- which looks like this:

[code]
- then [this parameter](https://github.com/github/Shimmer/blob/master/src/CreateReleasePackage/tools/commands.psm1#L62) should use that value, not the default

[2013-09-03 00:26] shiftkey commented on #75
TODO:
- better logging around what `LoaderExceptions` are being raised

[2013-09-03 00:50] michaelsync commented on #82
Thanks Paul! I will check out the docs folder.

[2013-09-03 00:51] michaelsync commented on #83
Thanks guys! I will check it out.

[2013-09-03 00:54] shiftkey commented on #83
Version `0.6.12` has these changes

[2013-09-03 01:10] luizbon commented on #87
Tried this, but with no luck.
I'm never worked with PowerShell, but this line seems to not check the nuget.config file. Maybe it's better to check for nuget.config file from the CreateReleasePackage project just like Nuget does and use the folder defined in there.

Sorry for bugging with this, but since I don't have experience with PowerShell I can't do better tests to send a pull request.

[2013-09-03 01:14] shiftkey commented on #87
@luizbon that's fine. I'd prefer it to be in the Powershell script for simplicity sake (we use NuGet.Core heavily, but not NuGet.exe)

I'm trying to get a first preview out the door this week so I won't be able to get to this immediately.

As it's one of the less-common NuGet features, it's not on my critical path at this stage. If someone wants to jump on it in the meantime they're more than welc

[2013-09-03 01:40] shiftkey commented on #55
Here, read: https://github.com/github/Shimmer/wiki/Hosting-release-artifacts

[2013-09-03 01:48] #55 closed, assigned to nobody

[2013-09-03 03:05] shiftkey opened #88 "VS2012 Express SKUs can open and build Shimmer"
Test these SKUs:
- Visual Studio Express 2012 for Windows 8 (maybe)
- Visual Studio Express 2012 for Windows Desktop

[2013-09-03 07:55] michaelsync commented on #83
thanks! I just tested and it works.

[2013-09-03 09:09] michaelsync commented on #82
Hi Pearl, I think, "docs" folder means "specs" https://github.com/github/Shimmer/tree/master/specs right?

[2013-09-03 09:37] shiftkey commented on #82
Yep, that's what "Pearl" meant

[2013-09-03 09:49] michaelsync commented on #82
:) Thanks Brendan..

[2013-09-03 14:05] darrelmiller opened #91 "$fullRelease gets a bonus semi-colon at the end which prevents light.exe from building setup.exe"
This is in 0.6.13-beta.  After doing the Split on line 70 of Create-Release.ps1 I did a $fullRelease = $fullRelease.SubString(0,$fullRelease.Length - 1) and the problem went away.  I'm sure you'll find a better way :-)

[2013-09-03 21:07] shiftkey commented on #91
You'd think this would do the job, eh?

[code]

![](http://i.imgur.com/0U2cnck.gif)

I can throw a `.TrimEnd(";")` on there but I _really_ thought `.Split(";")` would take care of it.

Thanks for the pickup.

[2013-09-03 22:04] darrelmiller commented on #91
Maybe it is one of those special invisible semi-colons but the line of code that I am seeing in Create-Release is

$fullRelease = $fullRelease.Split(" ")[0]

[2013-09-03 22:07] shiftkey commented on #91
Oh, that script needs to be killed with fire. Ignore that.

The right way is to run `New-Release` from the Package Manager Console in VS.

[2013-09-03 22:10] shiftkey commented on #91
And when I say "killed with fire" I mean "considered for [build server automation](https://github.com/github/Shimmer/issues/59)".

If you're looking for something like that, chime in with what you'd like. I'll leave this open and ensure that script isn't busted.

[2013-09-03 23:30] darrelmiller commented on #91
My bad.  I was reading the wrong docs.  I was reading this https://github.com/github/Shimmer/blob/master/specs/Tools.md

[2013-09-04 02:17] luizbon commented on #87
Just created a pull request #92 for this issue.

[2013-09-04 02:17] #87 closed, assigned to nobody

[2013-09-04 02:26] shiftkey commented on #91
No no, my bad for not pointing you to the QuickStart: https://github.com/github/Shimmer/wiki/QuickStart

[2013-09-04 04:59] shiftkey opened #93 "Updating - can we update the registry to reflect the new version?"
I'm probably being a bit pedantic here, but when I'm uninstalling I see the original version of the app, not the latest version.

Would love it to be updated after an update (still use the same MSI to uninstall).

[2013-09-04 18:15] anaisbetts commented on #93
@shiftkey If you will it, it is no dream

[2013-09-04 19:31] luizbon opened #94 "Lost installation"
Using the nuget package it seems to lose the cmdlets.
I need to uninstall Shimmer and install again to have access to New-Release cmdlet.

[2013-09-04 22:23] shiftkey commented on #94
What version of NuGet do you have installed? I've been testing `2.7.40808.167`

I sometimes get the `"File cannot be loaded because the execution of scripts is disabled on this system`" error after opening a solution - and I have to restart VS to get back to work. Is it something like that?

[2013-09-04 23:57] shiftkey commented on #93
![](http://i.imgur.com/sdLEY.gif)

[2013-09-05 00:40] shiftkey opened #95 "Do not generate a delta package when the previous release does not exist"
Repro steps:
- Create a New-Release on version A
- Delete the .nupkg files from the Releases folder
- Increment the version to B
- Create a New-Release for B

Expected result:
- Shimmer warns the user that version A cannot be found
- Shimmer does not create a delta package

Actual:
- no warnings about missing package A
- the delta package is created (which is probably broken)

[2013-09-05 00:43] shiftkey opened #96 "Update specs to reflect The Current State Of Affairs"
See title

[2013-09-05 01:13] shiftkey opened #97 "On second update, the icon disappears"
Repro steps:
- Install application version N (icon on desktop)
- Create delta package for N+1
- Apply update to running app (icon still on desktop)
- Create delta package for N+2
- Apply update to running app

Expected: icon is still there (points to N+2 version)

Actual: icon is deleted

[2013-09-05 01:58] shiftkey commented on #97
Something something eureka!

[code]

[2013-09-05 04:13] #56 closed, assigned to nobody

[2013-09-05 04:58] shiftkey commented on #97
With a bit more tracing:

[code]

This seems to be the flow:
- got a folder for version N - run uninstall and delete shortcuts
- got a folder for version N+1 - run uninstall - and the icons are not found, so blacklist
- run install for new version - icons are blacklisted :metal:

[2013-09-05 06:16] peters opened #98 "Allow modification of generated wix template"
During the release stage, check for template.release.wxi in the Release
folder or in $(SolutionDir)

[code]

This would make it easy to add custom behavior to the generated Wix template.

[2013-09-05 06:49] shiftkey commented on #98
Being able to extend the templates is definitely on my radar, but I'd like to get v1 out the door which will cover:
- generating installers and updaters
- using the AppSetup extensibility points to do custom behaviour as C# code
- creating a custom UI for your installer

Happy to throw around ideas and proposals for how this feature could/should work in the interim.

[2013-09-05 07:07] shiftkey commented on #57
Some words here: https://github.com/github/Shimmer/wiki/How-Your-App-Is-Deployed

[2013-09-05 07:31] #57 closed, assigned to nobody

[2013-09-05 07:43] distantcam commented on #98
@peters What would you want to customize? Since it's a managed installer all the screens come from managed code, so the wix template only provides the details of what files are installed.

[2013-09-05 08:02] peters commented on #98
@distantcam Aha, did now know that. I would like to add the application to startup so it runs when windows starts.

[2013-09-05 08:05] shiftkey commented on #98
After install, the bootstrapper finds any file - in the build output - ending in `.exe` and starts them.

There's also `IAppSetup` components if you want to run C# scripts as part of the installation. I'm testing and documenting those next.

[2013-09-05 08:23] peters commented on #98
Great! ;)

[2013-09-05 14:16] peters opened #101 "Third party dependencies in Release folder is not included in the installer"
I'm considering integrating Shimmer into an existing application which currently uses wyUpdate. This application has many thirdparty dependencies such as cefsharp and multiple sub directories (which needs to be copied recursively). You could say the Release folder is final output from which the application is packaged from (installer, updates, yadayada).

So basically i need a way to specify a lis

[2013-09-05 18:19] peters opened #103 "c++ redistributable as a prerequisite"
It is mentioned in the wiki that specifying prerequisites during installation is not supported at the moment. But when it is, it should be possible to specify a c++ runtime to install if it's not present on the user's computer.

[2013-09-05 18:21] anaisbetts commented on #103
@peters We don't need this, but if you do, you should open a PR with your idea for a solution. Though to be honest, I'd just package the version of the CRT you want along with the rest of the binaries, as long as you're using VS2010 or higher, the CRT is "just a DLL", you don't have to "install" it like the old days.

[2013-09-05 18:38] peters commented on #103
Yes, i agree. Packaging the correct CRT would be sufficient, but does Shimmer have the ability to include thirdparty dll's ? See https://github.com/github/Shimmer/issues/101

[2013-09-05 18:45] #103 closed, assigned to nobody

[2013-09-05 18:47] anaisbetts commented on #101
Yep, you can totally do this, you need to put it in your nuspec under the `<files>` section, you can create arbitrarily complicated folder structures from there, even if your Release folder is just a flat list of files.

[2013-09-05 18:47] #101 closed, assigned to nobody

[2013-09-05 20:00] peters commented on #101
@paulcbetts Thanks! ;)

[2013-09-05 21:48] anaisbetts commented on #98
The one thing we could do that would be easy, is just search the project / solution root for a `template.wxs` file and use that instead. Easy win.

[2013-09-05 22:46] distantcam commented on #98
@paulcbetts Yeah, but then you'd have to make sure the template is right, and wix is finicky. I'm not a fan of handing users death star sized guns for their feet.

Also which template are we talking about? The app installer or the bootstrapper? I can think of reasons to customize both.

[2013-09-06 00:02] anaisbetts commented on #98
@distantcam They don't have to use it :)

[2013-09-06 00:03] distantcam commented on #98
@paulcbetts Yes, but you know they will. And then they will log issues here. :)

[2013-09-06 06:15] peters commented on #98
@shiftkey IAppSetup, you only have to implement it in a class in your main assembly and it will be picked up by the installer right?

[code]

[2013-09-06 07:02] shiftkey commented on #98
That's the one

[2013-09-06 09:34] luizbon commented on #94
My NuGet version is 2.7.40808.167 also.

I didn't see any of this message, it just don't recognize the New-Release cmdlet anymore. This problem is occurring with the NuGet package that is online in Prereleases, is not a dev repo with latest source.

[2013-09-06 09:42] shiftkey commented on #94
Ok, so I need a couple of things to fire up the old psychic debugger:
- What version of Shimmer are you using?
- What OS and Visual Studio version?
- What does the Package Manager console tell you when you do `New-Release`?

[2013-09-06 09:57] luizbon commented on #94
I've just create a brand new project on a new path, so packages folder is on solution folder.
- Installed Shimmer 0.6.15-beta with NuGet.
- Run New-Release without any problems.
- Restarted VS.
- New-Release doesn't exists anymore.

This is the message I've received when try to run it again:
PM> New-Resealse -Project ShowIP.Web
New-Resealse : The term 'New-Resealse' is not recognized as the name o

[2013-09-06 10:03] flagbug commented on #94
@luizbon

[2013-09-06 10:46] peters opened #104 "In dire need of more intermediate features that requires UAC intervention"
Is this something that is planned for 1.0? Having used Shimmer only for a day two, you guys have convinced me that this is the way to go. It's incredibly simple to use, but it's lacking intermediate features such as service install/uninstall (correct me if i'm mistaken).

Though a UAC free experience is great (as a baseline) but would you consider other features that require UAC intervention as "o

[2013-09-06 11:00] shiftkey commented on #104
This isn't something I've had in mind for v1 (although [this discussion](https://github.com/shiftkey/Shimmer.Samples/issues/1) from someone on Twitter today is in the back of my mind).

What sort of things (aside from service install/uninstall) do you see as essential to your use cases?

[2013-09-06 11:17] shiftkey commented on #94
[code]

I think the typo here is the issue - this should be `New-Release -Project ShowIP.Web`

[2013-09-06 11:30] peters commented on #104
The most important ones:
- Registry changes
- Filesystem modifications (e.g writing to a protected ACL folder)

A quick fix where you could specify either in the nuspec manifest the desired elevation level required
during install/uninstall or by using an attribute in IAppSetup would be awesome! ;)

[2013-09-06 11:39] peters commented on #104
Also, is it possible to specify a custom path to the 'Releases' directory? I would like to use an UNC path where are releases are stored (per application) so i do not have to worry about keeping a backup on my local developer machine.

[2013-09-06 11:43] shiftkey opened #106 "Expose a -ReleasesDirectory option on New-Release"

[2013-09-06 11:43] shiftkey commented on #104
Boom #106

[2013-09-06 11:45] peters commented on #104
:+1:

[2013-09-06 11:49] luizbon commented on #94
Shame on me!! My Bad, its working, all the time it was my typo.

[2013-09-06 11:49] #94 closed, assigned to nobody

[2013-09-06 13:31] #95 closed, assigned to nobody

[2013-09-06 18:52] anaisbetts commented on #98
@peters Yep. you don't actually have to implement it though, if you're just a typical app with a single EXE, just ignore it and What You Expect Will Happen™

[2013-09-06 18:59] anaisbetts commented on #104
Sorry, UAC is not in the cards for Shimmer 1.0. You can certainly do it yourself in your `IAppSetup` (and it probably wouldn't be too overly difficult to do so), but Shimmer was explicitly designed for per-user installs.

You could also consider instead of using a service (which seems easy to write, but is actually pretty hard to write correctly since you will have to IPC securely with your app),

[2013-09-06 20:40] allenpetersen opened #108 "Subfolders not respected"
We require installing some files into a subfolder under our main install path.

UpdateManager.installPackageToAppDir() currently will find all of the files but it will create all of the files in the single install folder.

If your NuGet package as the following files.

[code]

Your install folder will look like this

[code]

I've made a change here that address the initial install and adding a fil

[2013-09-06 20:46] anaisbetts commented on #108
/cc @shiftkey, we should Le Fix this.

[2013-09-06 20:55] allenpetersen commented on #91
Our CI server runs a NAnt script which uses msbuild to compile the solution and then separate tasks that create the NuGet package and call Create-Release.p1 to build the release files.

As a temporary workaround for this issue I just modified Create-Release.ps1 to strip trailing semicolons.

[2013-09-06 21:02] allenpetersen commented on #106
Create-Release.ps1, or whatever script we should use on build servers, will also need this. All of our builds are archived on separate system. Using a UNC path for this share location would be ideal.

[2013-09-06 23:29] shiftkey opened #109 "Merge logic for `Create-Release.ps1` and `New-Release`"
Duplication is bad. Duplication is bad.

[2013-09-06 23:29] shiftkey commented on #91
As people are already using this `Create-Release.ps1` script, I'll add a task here to eliminate the duplication and keep those files around - #109

[2013-09-07 01:52] anaisbetts commented on #91
RIP my crappy Create-Release script

[2013-09-07 02:11] shiftkey commented on #91
![](http://i.imgur.com/1Wz61.gif)

[2013-09-07 09:42] peters opened #112 "Error thrown when using Shimmer beta and building a non beta package"
If you use the beta version of Shimmer and attempt to build a new release
the following error is thrown:

[code]

How can i turn off this "error" ?

[2013-09-07 09:57] peters commented on #112
Also project references that does not contain any information in the following attributes: AssemblyDescription, AssemblyCompany raises a warning during build.

[2013-09-07 10:14] peters commented on #112
Now after fixing these "issues" the following warning appears:

[code]

It does not say what the 6 other warnings might be. Also they are not caught as errors using `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>` either

[2013-09-07 10:17] peters commented on #98
Great! ;)

[2013-09-07 10:28] peters commented on #112
[code]

It probably should be noted in the wiki.

[2013-09-07 11:19] peters opened #113 "Fatal exception when creating a new release"
Version: 0.6.17-beta

Shimmer stacktrace:

[code]

Shimmer release build output:

[code]

[2013-09-07 11:37] peters commented on #113
Seems related to https://github.com/github/Shimmer/pull/100

[2013-09-07 16:51] anaisbetts commented on #112
@shiftkey We can probably remove the bogus `beta` tag from Shimmer now.

[2013-09-08 04:37] shiftkey commented on #113
@peters can you share a sample .nupkg that is triggering this behaviour?

[2013-09-08 04:38] shiftkey commented on #106
@allenpetersen once I merge in #111 then the changes will be available to both inside and outside Visual Studio

[2013-09-08 04:43] shiftkey opened #114 "commands.ps1 scripts do not follow Powershell Get-Verb conventions"
[code]

[2013-09-08 04:57] #109 closed, assigned to nobody

[2013-09-08 05:09] shiftkey commented on #113
Specific chunk of code:

[code]

Where that `[Content_Types].xml` file looks something like this:

[code]

I'm not sure what's changed in here, so getting my hands on that data would be an excellent help to isolating this issue.

[2013-09-08 05:13] shiftkey commented on #112
@paulcbetts once I close out these 0.7 issues I'll strip the tag and then

![](http://i.imgur.com/hhI0i.gif)

[2013-09-08 05:18] shiftkey commented on #112
@peters what's the source for that file? something in the NuGet docs?

[2013-09-08 06:21] #108 closed, assigned to nobody

[2013-09-08 06:38] shiftkey commented on #108
This change is included in version `0.6.19-beta`

[2013-09-08 07:16] peters commented on #113
[Content_Types].xml:

[code]

[2013-09-08 07:18] peters commented on #112
@shiftkey [nuspec](http://docs.nuget.org/docs/reference/nuspec-reference)

[2013-09-08 07:22] peters commented on #113
@shiftkey Sure, which email account should i send it to?

[2013-09-08 07:32] shiftkey commented on #113
@peters the one in [my profile](https://github.com/shiftkey)

And wow, that's an interesting xml file - what sort of project is it?

[2013-09-08 07:59] peters opened #116 "Prefix installer with Active Solution Platform value"
Optional prefixing of the installer by either x86, x64 or AnyCPU.

[2013-09-08 08:07] peters commented on #113
@shiftkey You got mail! It's a small app handling payment processing using cefsharp. The reason why there's a lot of different content types is because it's a debug build where all the bower .git repositories are not compiled via grunt/r.js ;)

[2013-09-08 08:14] shiftkey commented on #113
@peters I suspect it's related to the `Override` elements not having an `Extension` element and thus reverting to empty string.

Evidently we need to make this support both `Default` and `Override` elements - shouldn't be too hard to implement. Thanks for sharing.

[2013-09-08 08:17] peters commented on #113
:+1:

[2013-09-08 11:29] shiftkey opened #118 "Ship a default updater UI"
From the initial specs:

https://github.com/github/Shimmer/blob/master/specs/Scenarios.md

Do we want this? Or just provide a good sample app with bits for people to repurpose as they want.

[2013-09-08 11:33] shiftkey opened #119 "`New-Release` should build the current solution"
Make $DTE do it's thang. Because we're all lazy.

[2013-09-08 11:37] shiftkey opened #120 "When `New-Release` doesn't specify a project, iterate the full collection"
Citation:

https://github.com/github/Shimmer/blob/master/specs/Tools.md

Two reasons this is neat:

1) Perhaps you have multiple applications to ship
2) The "use the current project" thing from NuGet is a crutch

What you could actually do is scan for any .nupkg files in all the build outputs, rather than check for project references (or the `packages.config` entries)

[2013-09-08 11:42] shiftkey opened #121 "Implement and Document how Release Notes work"
It's mentioned a lot in the various specs but isn't really explained anywhere else.

So let's:
- explain how this appears when doing the updates
- implement this in the demo application
- write it up for the users

[2013-09-08 11:50] shiftkey commented on #91
It is done:

https://github.com/github/Shimmer/commit/06c92a7a85a8b647414b7d17b3cab0dfb98d88a2#diff-2

And how you too can call `Create-Release.ps1` from outside Visual Studio:

https://github.com/github/Shimmer/blob/06c92a7a85a8b647414b7d17b3cab0dfb98d88a2/tests/Create-Release.Tests.ps1#L71

[2013-09-08 11:50] #91 closed, assigned to nobody

[2013-09-08 12:46] shiftkey commented on #69
Hahahahaha well that's cray:
- Install from `Manage NuGet Packages` -> no file in the project tree
- unload the project
- reload the project
- AND THE FILE IS THERE. GAH!

[2013-09-08 14:03] peters commented on #113
@shiftkey Content directory is not extracted to the application install path. See the nuspec i sent you per email. For the application to work, it requires everything in Content folder to be present.

[2013-09-08 14:50] peters opened #123 "BuildPackage is not respected"
per application configuration. I only want to produce nupkg packages when 'Release', 'ReleaseRemote', 'ReleaseTestUpdate' are selected, but if 'RemoteDebugging', 'ReleaseRemoteDebugging' are selected i'm not interested in a Shimmer build.

I tried moving BuildPackage into the 'Release' configuration on the main project but still all configuration produces a nupkg.

I also tried to build a couple o

[2013-09-08 14:55] peters commented on #120
https://github.com/github/Shimmer/issues/123

[2013-09-08 20:43] shiftkey commented on #123
On install, the `BuildPackage` element is inserted into the first PropertyGroup:

[code]

If you set that that to `false` that will stop the package creation.

The creating of the packages is done by the NuGet integration with VS, not Shimmer, so I'd need a bit more about what the `csproj` file looks like to diagnose what might be happening here.

[2013-09-08 20:43] #123 closed, assigned to nobody

[2013-09-08 20:53] shiftkey commented on #113
@peters I'm not sure I follow. Is something not working with how we are porting content across?

I haven't had a chance to run that `.nupkg` through the process - let me know what I should be looking for.

[2013-09-09 07:53] peters commented on #123
Great, i'll email you tonight.

[2013-09-09 07:56] peters commented on #113
If you take a look inside the nupkg i sent you, you can see the Content directory. That directory is not extracted during installation (it's not present in the final path after a successfull installation). My program depends on all those files. If you open the nuspec, you can see those dependencies derive from `<files />`

[2013-09-09 10:19] peters commented on #123
@shiftkey You got mail.

[2013-09-09 13:08] shiftkey opened #125 "Content Files should be deployed in app directory"
To be investigated, but suspect:
- expected behaviour: `Content` files inside created Shimmer package are deployed to application directory
- actual behaviour: only `Lib` files are deployed - content is ignored

[2013-09-09 13:09] shiftkey commented on #113
@peters As that's a different thing to the initial issue discussed, I've moved it over to #125

Please discuss that issue over there. I'll be marking this specific issue as resolved when the relevant pull request is merged.

[2013-09-10 00:49] #96 closed, assigned to nobody

[2013-09-10 01:13] #113 closed, assigned to nobody

[2013-09-10 01:15] #112 closed, assigned to nobody

[2013-09-10 02:17] shiftkey commented on #112
Fixed in `0.6.20`

[2013-09-10 02:17] shiftkey commented on #113
Fixed in `0.6.20`

[2013-09-10 02:19] shiftkey commented on #97
I'm going to punt this one for now as there's a couple of assumptions here I'm going against:
- the user _should_ see a "restart the app" message after the first update
- the user _should_ not have the option to update again after that first update

[2013-09-10 02:22] shiftkey commented on #74
Going to re-test this scenario:
- open app version 1.0
- generate  and apply update 1.1
- restart app
- generate and apply update 1.2
- restart app
- close app
- uninstall app

Expected behaviour:
- app can uninstall successfully
- any remaining files are marked as "delete on next boot"

[2013-09-10 10:21] peters commented on #125
This bug is still present in 0.6.20

[2013-09-10 10:30] peters opened #127 "AppSetup is not triggered during installation"
Tested with 0.6.20 AppSetup derived class is not invoked during installation. The file is present in the main assembly.

[code]

[2013-09-10 10:37] shiftkey commented on #125
@peters It's the next thing on my list :)

[2013-09-10 10:38] shiftkey commented on #127
Can you share the %APPDATA%/Shimmer/**YourApp**.txt file?

This might shed some light on what's currently occurring...

[2013-09-10 11:43] peters commented on #127
@shiftkey https://gist.github.com/peters/6508238

[2013-09-10 11:43] peters commented on #125
:+1:

[2013-09-10 11:51] shiftkey commented on #127
[code]

Right, so let me push some tracing on those `LoaderException` issues in the next release and I'll get you to re-test.

[2013-09-10 11:53] shiftkey opened #128 "Log LoaderException details so we can see what's going on"
Here: `InstallerHookOperations.<findAppSetupsToRun>`

[2013-09-10 11:55] shiftkey commented on #127
See #128 for that change

[2013-09-10 17:37] peters commented on #112
Regarding https://github.com/github/Shimmer/issues/112#issuecomment-23991758

Can these warnings be silenced somehow? You explictly declare thirdparty dependencies in `<files />` in the nuspec. Nuget throws an error if a dependency is missing anyway. It should atleast be safe to silence these warnings when https://github.com/github/Shimmer/issues/125 is resolved.

It's important that warnings stay

[2013-09-10 18:08] allenpetersen commented on #118
I don't see a lot of value in providing default update UI as it should be easy to implement and different projects will want to integrate updating into their apps in different ways.

I have a documentation request. What is the RightWay™ to restart the app after applying updates? It isn't covered in https://github.com/github/Shimmer/wiki/How-do-updates-work%3F

Our main scenario is similar to Click

[2013-09-10 18:27] peters opened #129 "Do not change/overwrite BuildPackage value when Shimmer nuget package is updated"
This happens each time you update the Shimmer nuget package. Then `<BuildPackage>True</Buildpackage>` is added to the main .csproj. This should only happen if the property is not present. In my case this value is set to 'False' and it is enabled expliclity in certain build configurations.

[2013-09-10 18:29] peters commented on #123
@shiftkey Poor research on my side. I can confirm this is working correctly, but https://github.com/github/Shimmer/issues/129 had me going for a while.

[2013-09-10 18:40] peters commented on #118
As a temporary solution i just added a simple myapp.restart.exe and referenced it with my main project. This should probably be a shimmer core feature. It's 4 lines of code. Or you can reference Winforms and call Application.Restart() if you're lazy.

[2013-09-10 18:58] peters commented on #118
I'd go for a more flat look, here's how i'm going todo it:

![installer](https://f.cloud.github.com/assets/869/1117372/4f1262f0-1a4c-11e3-8031-5eb28bb94f2b.png)
![progress](https://f.cloud.github.com/assets/869/1117371/4ef8007c-1a4c-11e3-906a-a030d21cec3d.png)

[2013-09-10 19:41] peters opened #130 "Feature request: Restart application after update"
It would be nice to restart the application after a successfully applied update.

Shimmer.Client.Restart()

See https://github.com/github/Shimmer/issues/118#issuecomment-24181867 https://github.com/github/Shimmer/issues/118#issuecomment-24184128

[2013-09-10 20:03] peters commented on #127
@shiftkey It would be awesome if you could give us a access to the current log object for adding our own messages.

[2013-09-10 22:46] shiftkey commented on #129
I'd need to go back and test [this code](https://github.com/github/Shimmer/blob/master/src/CreateReleasePackage/tools/utilities.psm1#L176) to see how it was detecting "no value defined" versus "false is found".

[2013-09-10 22:58] shiftkey commented on #130
Yes, the recommended ways to do this are rather [mediocre](http://stackoverflow.com/questions/4773632/how-do-i-restart-a-wpf-application).

If someone wants to propose a patch for this I'm open to it.

[2013-09-10 22:58] shiftkey commented on #118
This isn't something I've actively investigated yet, and [given all the mediocre ways](http://stackoverflow.com/questions/4773632/how-do-i-restart-a-wpf-application) you can apparently do that, I think it's something worth investigating.

There's a philosophical side to this too:
- always update the user when they start the app, to the detriment of taking a few minutes out of their day to download

[2013-09-10 23:01] shiftkey commented on #127
What sorts of messages do you want to capture? If you want to see specific events from Shimmer inside the log, they should already be there...

[2013-09-10 23:17] shiftkey commented on #112
If you're using nuget.exe to package it, you can pass in a `-NoPackageAnalysis` parameter.

I'm not aware of an way to do that inside Visual Studio...

[2013-09-10 23:28] allenpetersen commented on #127
I don't know if this is related or not. My AppSetup stopped working when I added a second AppSetup instance for another .EXE file we have in our install folder. This is a support app used to invoke some 3rd party code in its own address space. I only want a shortcut for the main app so I implemented a AppSetup for both .EXEs with an empty list for GetAppShortcutList for the support app. When I mak

[2013-09-10 23:48] shiftkey commented on #127
@allenpetersen

Makes sense

That, however, does not.

If you can update to `0.6.21` and generate a new installer, it should log out the LoaderExceptions (and specify which module is failing) to help us isolate what's occurring here.

[2013-09-11 01:46] peters commented on #130
This solution works well for my projects: https://gist.github.com/peters/6518385

[2013-09-11 01:46] peters commented on #112
:+1:

[2013-09-11 01:48] shiftkey commented on #130
The limitation with that approach is it requires code _outside_ of Shimmer (i.e. the entry point to your application) to work properly...

[2013-09-11 02:01] peters commented on #130
Sure, but in one of my applications i'm using a global mutex (kiosk software). It's not possible to guarantee that this mutex will be released before the application is restarted using suggested approaches@stackoverflow.

You could create a forward method where you execute Application.Current.Shutdown in the context of a Dispatcher derived from the Assembly you wish to restart.

[code]

![code_mon

[2013-09-11 02:02] shiftkey commented on #128
Boom d9b1985b5e7e94db32943ff4f8faff77ac473d58

[2013-09-11 02:02] #128 closed, assigned to nobody

[2013-09-11 02:08] shiftkey commented on #130
![image](https://f.cloud.github.com/assets/359239/1119819/e88ebf16-1a86-11e3-8a46-c9a1782b1001.png)

[2013-09-11 02:22] peters commented on #128
@shiftkey 0.6.21 %APPDATA%\Shimmer

It's probably failing because autokollekt.infrastructure.dll is missing it's dependencies because of https://github.com/github/Shimmer/issues/125

[code]

[2013-09-11 02:24] shiftkey commented on #128
@peters if you can give me feedback on #125 (it was fairly straightforward to implement) let's push out another release and confirm you're back on track

[2013-09-11 02:26] shiftkey commented on #128
EDIT: #131 is the fix for it

[2013-09-11 02:32] shiftkey opened #132 "Ensure shortcuts are cleaned up as part of uninstall"
Version: 0.6.21

[2013-09-11 02:38] #125 closed, assigned to nobody

[2013-09-11 02:41] shiftkey commented on #125
Fixed in `0.6.22`

[2013-09-11 02:47] peters commented on #125
Great! Waiting for the nuget channels to update :/

[2013-09-11 02:48] shiftkey commented on #125
@peters i'm waiting for my slow internets to publish it! :trollface:

[2013-09-11 02:50] shiftkey commented on #125
Boom: https://www.nuget.org/packages/Shimmer/0.6.22

[2013-09-11 02:51] peters commented on #125
![24914893](https://f.cloud.github.com/assets/869/1119990/f6950a42-1a8c-11e3-8820-32845f20e1d7.jpg)

[2013-09-11 03:18] peters commented on #125
Still working on confirming that everything works :)

[2013-09-11 03:45] peters commented on #125
As far as i can tell, the extraction process is flawless! :+1: :+1: :+1:

[2013-09-11 03:46] peters commented on #125
Though there has to be a bug in the nuget dependency resolve graph Shimmer is using because in my release folder there are several dll's that are not included in the nupkg. Two of these dll's are actual nuget packaged, but others plain references. How should i proceed?

[2013-09-11 04:31] shiftkey commented on #125
@peters regarding the assemblies issue - please open up a different issue and walk me through how your doing things

[2013-09-11 06:25] allenpetersen commented on #130
I'm thinking about moving the Shimmer parts of my app into a separate AppLauncher.EXE that will either start the main app if there were no updates or start the newly installed main app.

[2013-09-11 06:29] shiftkey commented on #130
@allenpetersen a bootstrapper-esque library you could wrap the WPF application in might help solve this problem (like you do with enforcing a single-instance application using a Mutex).

Let me know if anything interesting spins out of that which might fit with the rest of the Shimmer project.

[2013-09-11 06:34] allenpetersen commented on #127
It looks like it is trying to load the files from the temp directory not the newly install app directory. I didn't get a chance to debug the installer process tonight.

[code]

[2013-09-11 07:29] shiftkey commented on #127
@allenpetersen that's fine. I think we can hijack the [AppDomain.Resolve](http://msdn.microsoft.com/en-us/library/system.appdomain.assemblyresolve.aspx) method to use the installed app directory as a fallback, if necessary.

[2013-09-11 08:21] peters opened #133 "Missing dependencies during installation"
https://github.com/github/Shimmer/issues/125#issuecomment-24211506

@shiftkey You got mail.

[2013-09-11 09:48] peters commented on #118
@shiftkey Guess this is a low priority for you guys but are there any plans of freshing up the eye candy for the installer? You have mentioned in the 1.0 milestone that this was/maybe going to be used in 'Github for Windows'. Then its' safe to say that this is going to be taken care of?

[2013-09-11 09:56] peters commented on #118
An easy way to extend Shimmer would be doing it the same way as AppSetup. Then you would just have to derive from the "base" viewmodels: ErrorViewModel, InstallingViewModel, UninstallingViewModel and WelcomeViewModel. Then you would only need to change the presentation layer for each viewmodel. But you probably have a better way of doing it, i'm more of a GTK guy.

[2013-09-11 10:00] peters commented on #130
But: This is probably not relevant to most people but has anyone tought about a rollback solution if everything goes to shit during an upgrade (on my part i have a demo staging area, deploying updates to multiple machines before it ever reaches the end user). But if shit hits the fan, it would be ideal that the application does a form of rollback and starts the old version.

[2013-09-11 10:27] peters commented on #66
Going to test this theory on Windows 7 Embedded Standard tonight.

[2013-09-11 10:51] matteomigliore commented on #66
I can try also on a VM if is available a fix on Nuget.

[2013-09-11 13:58] shiftkey commented on #130
Given you have the old packages handy, I can't see any technical limitations about this.

I guess it just depends on:
- what you define as a bad upgrade (that it fails to complete, or that the current version has issues)
- whether a rollback can be as simple as installing version N-1
- how rollbacks should behave with things like AppSetup (more complexity headaches?)

[2013-09-11 14:00] shiftkey commented on #118
I'll be revisiting this as part of the 0.9 release, but I don't expect significant overhaul of the UI/UX for the 1.0.

0.9 is all about customizing the installer experience - and I want Shimmer to be more than just something we use for deploying apps at GitHub - so I want your feedback and ideas on this

[2013-09-11 14:03] shiftkey commented on #118
It depends on how much you want the ViewModels to do that isn't already covered by:
- deploying the app into the folder
- running AppSetup pieces

Doing visual things like animations and transitions probably doesn't require much change to the ViewModels.

Displaying additional data to the user probably requires changes to the ViewModels.

Making significant changes to the installer workflow would

[2013-09-11 17:18] anaisbetts commented on #66
@matteomigliore If you don't want to wait for NuGet, it's pretty easy to build packages and test them yourself - here's how to do it:
1. Clone Shimmer using GitHub for Windows (or any other way)
2. Open it in VS, switch to Release build, build the project
3. Follow [the first half of these instructions](http://docs.nuget.org/docs/creating-packages/hosting-your-own-nuget-feeds) and add the `bin` fo

[2013-09-11 18:02] matteomigliore commented on #66
@paulcbetts yes thanks :). But I prefer to use the package, I also tried before but I obtained an error, I don't remember which, I've to check again.

[2013-09-11 20:41] joercasey opened #134 "Shimmer failing during WiX generation"
Shimmer version 0.6.22
NuGet v 2.7.40808.167

Following this guide: https://github.com/github/Shimmer/wiki/QuickStart

I created a brand new WPF application, enabled NuGet Package Restore, installed Shimmer from the package manager console. I added AssemblyInformationVersion to AssemblyInfo.cs. Built solution; tried to create release, and the process failed in light.exe.

[code]

I also downloaded

[2013-09-11 22:50] shiftkey commented on #134
@joercasey apologies for the issues with TestApp - I've been using that as a scratchpad for working on things and is in a bit of disrepair. Let me push some updates to that now and see if it can get you on your way.

I'll have a look at this error here, as it should explain what's going on with the WiX issues...

[code]

[2013-09-11 23:15] shiftkey commented on #134
I've updated TestApp to the latest stable release, let me know if you're still seeing issues with `New-Release` and we can take it from there

https://github.com/shiftkey/TestApp/commit/67eef01a62642fa766efd7269195bae20118fa0c

[2013-09-11 23:25] joercasey commented on #134
Thanks for looking at this so quickly! You're going to have to give me 12+
hours until I'm back in the office to test this.

On Wed, Sep 11, 2013 at 7:15 PM, Brendan Forster
notifications@github.comwrote:

[2013-09-11 23:25] shiftkey commented on #134
@joercasey Timezones Are Awesome!

[2013-09-11 23:38] shiftkey opened #136 "Make the Powershell naming schemes consistent"
Because in my rush to ship this we've got a bunch of inconsistency to resolve

[2013-09-12 02:16] #74 closed, assigned to nobody

[2013-09-12 02:33] KyleGobel commented on #134
I get the same errors, just tried a second ago with a new wpf project and running the Install-Package from the main nuget repo.

Is there an easy way I can test that with the dev versions (the ones from code).  Assuming I need to add a new nuget repo to your bin directory and run Install-Package with a -Source flag or something?  I'd love to try to help out, though i'm no pro with nuget.

[2013-09-12 02:41] shiftkey commented on #134
@KyleGobel the easiest way to get started is to read [the quick start guide](https://github.com/github/Shimmer/wiki/QuickStart). That explains a lot of what's going on and how to get started with Shimmer.

[2013-09-12 02:44] shiftkey commented on #133
So I've pulled out my psychic debugger and walked through that sample you mailed me.

I think the headaches fall into three buckets:

#### Project references don't seem to be treated differently

The project dependency specified in the csproj file isn't in libs folder of the generated nupkg from VS. I think this is a conscious by the NuGet team because tracing what libraries you need (whether they

[2013-09-12 02:58] KyleGobel commented on #134
Maybe I wasn't very clear.

The QuickStart doesn't work.  I still get the same errors on version 0.6.23 as the ones posted in this issue (near the same anyway).

Here's my Powershell dump anyway.

[code]

[2013-09-12 03:04] shiftkey commented on #134
@KyleGobel  @joercasey right, it seems to be this same chunk of code.

[code]

This is the first time I've seen it break, but I'll dig into it and see what I can find...

[2013-09-12 03:11] KyleGobel commented on #134
That chunk of code has broke on me everytime, with every new project I try this with, since I first forked at version 0.6.13.

I tried to fix that myself, but couldn't really test it as I didn't know how to actually test my changes (as `Install-Package Shimmer MyProject` just takes the shimmer from the main nuget feed, instead of my local copy) hence my question about how I test using my forked lo

[2013-09-12 03:13] KyleGobel commented on #134
At work tomorrow I'll try the same thing on a different machine and see if I can replicate the error there as well

[2013-09-12 03:15] shiftkey commented on #134
@KyleGobel there's a quick guide here to [creating local packages](https://github.com/github/Shimmer/wiki/Contributing-to-Shimmer#get-shimmer-working-locally) and a way to create [a local feed](http://docs.nuget.org/docs/creating-packages/hosting-your-own-nuget-feeds) so it doesn't go out to the NuGet feed.

[2013-09-12 03:18] shiftkey commented on #134
And just quickly - what version of Visual Studio are you running? And what version of NuGet Package Manager are you running (under **Tools** | **Extensions and Updates**)

![screen shot 2013-09-12 at 12 46 14 pm](https://f.cloud.github.com/assets/359239/1128196/e6936724-1b59-11e3-8bde-006ceb0122be.png)

[2013-09-12 03:20] KyleGobel commented on #134
I'm running VS 2012, Nuget is 2.640627.9000 :-(

I'll upgrade that quick and run it again and be embaressed when it works

[2013-09-12 03:22] shiftkey commented on #134
@KyleGobel  I don't think it's that. It's probably me doing something awful with Powershell. Which OS are you running?

[2013-09-12 03:24] KyleGobel commented on #134
I'm running Windows 7 x64.  Yeah I upgraded Nuget and it's still the same

[code]

[2013-09-12 03:25] shiftkey commented on #134
Right, it's a Powershell issue. v2 versus v3. Totally on me.

Pulling down my Windows 7 VM to troubleshoot further. Thanks for the details.

[2013-09-12 03:36] #106 closed, assigned to nobody

[2013-09-12 06:40] shiftkey commented on #133
I've written a [more formal guide](https://github.com/github/Shimmer/wiki/Specifying-the-right-dependencies) on how to resolve these issues.

Let me know if there's specific things on that list that Shimmer can help do better.

[2013-09-12 06:40] #133 closed, assigned to nobody

[2013-09-12 07:10] peters commented on #133
Excellent explanation! I'll dive in when i get home from work ;)

[2013-09-12 07:29] shiftkey commented on #134
So using the _awesome_ EchoArgs program I can see the headache:

[code]

Shouldn't be too hard to rewrite those parameters which are busted...

[2013-09-12 07:40] peters commented on #127
@shiftkey Could you add an OnBeforeAppInstall method? A simple use case would be to kill a conflicting program.

[2013-09-12 09:49] peters commented on #118
This is the most important part.

I agree and it would be mostly pointless and introduce additional code complexity.

What would be nice though was that you are not allowed to change the installer's workflow, but
instead you are able to add your own hooks instead:

[code]

@shiftkey thoughts?

[2013-09-12 10:04] peters commented on #118
**'Advanced'** (AdvancedOption) section:
![autokollekt](https://f.cloud.github.com/assets/869/1129729/9df534f0-1b92-11e3-8423-d69b4cf63391.png)

[2013-09-12 10:10] peters commented on #118
Awesome sauce: Render installer ui in a Webview and use twitter bootstrap to customize the installer experience. Then bind a click handler to the relevant dom node! :dancers:

[code]

[2013-09-12 10:37] peters opened #139 "Exclude certain dependencies from Nuget package"
If you are [repacking msil](https://github.com/gluck/il-repack) using [ILRepack.MSBuild.Task](https://github.com/peters/ILRepack.MSBuild.Task) on multiple dependencies (assembly references or whatever), i want to exclude those files from the generated nupkg.

Why? Imagine you are merging 15 dynamic libraries into one, interalize their namespace and then merge into the main assembly and later on ob

[2013-09-12 11:01] #134 closed, assigned to nobody

[2013-09-12 11:03] shiftkey commented on #69
Punting this to 0.8 because I'm really not in the mood for more Powershell right now

[2013-09-12 11:11] shiftkey commented on #139
Assemblies which are not part of the main library are always opt-in. Basically [this section](https://github.com/github/Shimmer/wiki/Specifying-The-Right-Dependencies#external-libraries) is what you need to do.

If you're merging assemblies into the main assembly together you shouldn't need to include them (or exclude them).

Or am I missing something about the requirements?

[2013-09-12 11:16] peters commented on #139
They are a part of the main assembly, but `AfterBuild`:

Merge dependencies:

A.dll
B.dll
C.dll
D.dll

into **autokollekt.infrastructure.dll** (which also is a referenced project)

Exclude the following dependencies from .nupkg:
A, B, C, D

[2013-09-12 11:19] shiftkey commented on #139
Creating the package occurs after the build finishes, so I don't think:
- those assemblies will be around
- you have to do anything to include/exclude them if they're included in the infrastructure.dll

[2013-09-12 11:20] peters commented on #139
Hmm, maybe i'm doing it wrong then... because they are present in the application install directory.

[2013-09-12 11:21] shiftkey commented on #139
Are they included in either nuspec file?

[2013-09-12 11:21] peters commented on #139
No

[2013-09-12 11:26] peters commented on #139
I'll whip up a sample project for you. It's not that important anyway, so don't let it block a v0.7 release

[2013-09-12 11:29] shiftkey commented on #139
All good, I'll keep powering through in the meantime...

[2013-09-12 11:29] peters commented on #139
:+1:

[2013-09-12 12:04] shiftkey opened #140 "Ship a helpful URL/File validation method"
I'm deep in the bowels of validation whether an arbitrary string is a URL or a folder. There's also various things to consider:
- is it a file? (because i need a folder)
- does it exist (i might check the URL using a HTTP request, but i can definitely check a folder exists)
- is it a relative URL (then try and turn it into an absolute URL and see if it exists) (also, which directory do we start fr

[2013-09-12 13:45] joercasey opened #141 "Setup.exe failing to load local release list"
Is there any code I need to add to my application to get the generated installer to work? I am following the QuickStart guide: https://github.com/github/Shimmer/wiki/QuickStart

Win7, vs2012 update 3, NuGet 2.7, Shimmer 0.6.25, empty WPF application with NuGet Package Restore enabled.

Package builds; release builds. I run Setup.exe and it fails. This is the log:

[code]

[2013-09-12 17:54] peters commented on #129
@shiftkey Bug still present in 0.6.25

[2013-09-12 18:33] peters commented on #66
@shiftkey Tried installing on a fresh copy of Windows 7 embedded standard. Wix attempts to download .NET **4.0** framework when it should pull down **4.5**. But! Wix launches the .NET installer midway (about 50% downloaded). Accepted the license agreement, and .NET installer fails with the following error message: **"System cannot find the file specified"**

**[Long and boring XML log](https://gis

[2013-09-12 18:39] peters commented on #66
# Wix download

![image](https://f.cloud.github.com/assets/869/1133269/81988724-1bda-11e3-8875-1bc110670059.png)

# First page

![image](https://f.cloud.github.com/assets/869/1133280/9be3d9c6-1bda-11e3-9b9c-8d9961562fc5.png)

# Verification

![image](https://f.cloud.github.com/assets/869/1133244/2e23f060-1bda-11e3-9f4b-14a400fd8ece.png)

# Error message

![image](https://f.cloud.github.com/assets/

[2013-09-12 19:29] anaisbetts commented on #66
There's a setting in the wix template that describes which .NET Framework to install, we might need to not hardcode that for 4.5

[2013-09-12 19:32] anaisbetts commented on #127
It might be a better idea long-term to have people make a separate DLL for `IAppSetup`s. While having it in the EXE is super convenient, we're gonna keep hitting these "Can't load the entire app's DLLs in our AppDomain" bugs.

[2013-09-12 19:34] anaisbetts commented on #130
Shimmer was explicitly designed such that there is actually a pretty small window where users get left with a bad version. We switch the shortcuts at the very, very end of the process - if anything fails before then, nothing happens and the old version gets run instead.

[2013-09-12 19:40] anaisbetts commented on #130
We can certainly do this, it'd take some Clever Hax™ but it's definitely not overly difficult. Basically:
1. Grab the currently running EXE's path by using `Assembly.GetEntryAssembly()`
2. Grab out the command line from [Environment](http://msdn.microsoft.com/en-us/library/system.environment.commandline.aspx)
3. `String.Replace` the old EXE with the path to the new one (if that EXE has been remove

[2013-09-12 22:56] shiftkey commented on #127
@paulcbetts that's kinda what I had in mind. Make it so.

[2013-09-12 23:07] shiftkey commented on #141
How odd.

Those "could not find RELEASES file" errors are just what we expect to happen on first install, and we fallback to creating the file from scratch.

A couple of things to check:
- what's the folder structure of `C:\Users\joec\AppData\Local\WpfApplication2\` after the installer failed?
- any errors in the `Applications` log in the Event Viewer that we've missed here?

[2013-09-13 00:38] shiftkey commented on #141
So I ran through a scenario I thought I'd fixed:
- install version A
- install version A+1

Which does this:
- doesn't provide any error messages in the logs
- throws an unhandled exception when it's "done"
- opens the application after (like it succeeded)

Oh, and it's installed twice. Outstanding.

![screen shot 2013-09-13 at 9 57 49 am](https://f.cloud.github.com/assets/359239/1135303/be4a599a-

[2013-09-13 06:27] shiftkey commented on #127
@peters

Why would you need to kill the program at this point? We're deploying the new version to a different folder, and files for the current version should be marked as "delete on next boot"

[2013-09-13 06:39] distantcam commented on #66
Just to clarify a few things.

The WiX bootstrapper is now managed code. So in order for the installer to run there has to be .NET on the system. This is why the bootstrapper is downloading **.NET 4.0** first, because the managed installer is .NET 4.0 code.

Then the managed installer will execute, and that installs the bundle. The bundle is the version of .NET for your app, and your app.

Perhaps

[2013-09-13 07:48] peters commented on #66
Aha, that makes more sense.

@distantcam http://wix.codeplex.com/releases/view/99514 ?

@shiftkey Is there a reason to why Shimmer is running a year+ old wix version?

[2013-09-13 07:51] peters commented on #127
@shiftkey Say a thirdparty application has put a lock on some files you need access to (not ACL'ed), then i need to kill that program (it's not the application we are updating) before the installation can continue because i will try to make modifications to these locked files in OnAppInstall

[2013-09-13 07:52] peters commented on #127
Sure, i could kill the program in OnAppInstall but i'd love more seperation of the logic so i don't end up with a unbearable amount of code in OnAppInstall. :dancers:

[2013-09-13 07:59] shiftkey commented on #127
But are these files part of the install?
- If so, they'll be deployed to a different folder before setup
- If not, you could have a number of IAppSetup tasks which run to keep things composable

Do we need to entertain the thought of ordering these IAppSetup tasks, rather than providing N hooks and people needing to understand when the right time is to do things?

[2013-09-13 08:01] shiftkey commented on #66
Nope, none whatsoever. Let me test those new bits and see if anything significant has been impacted...

[2013-09-13 08:02] peters commented on #127
No

No, it should be as simple as possible. Just thought i make the suggestion, but i realize now that it's better to leave things as they are.

[2013-09-13 09:47] shiftkey opened #143 "Uninstall fires and burns it all to the ground"
Related to #141

So when you install a new MSI over the top of an existing MSI, Windows will uninstall the previous version and fire the old installer.

**However**, the installer runs this code:

[code]

So we shouldn't delete THE ROOT DIRECTORY on uninstall, because that's kinda important. Instead we should note which versions have been "cleaned up" and delete those.

[2013-09-13 11:54] shiftkey commented on #143
Only headache from this is that `packages` will probably hang around, unless I can prove myself wrong.

But that's a minor thing (i think).

[2013-09-13 12:40] shiftkey commented on #66
@peters see #142 for the upgrade to WiX 3.7

[2013-09-13 12:51] shiftkey commented on #75
Current status:

[code]

[2013-09-13 12:51] #75 closed, assigned to nobody

[2013-09-13 12:52] shiftkey commented on #114
4decc07844f6fca1a288b70faecaf97f782455a5 :shipit:

[2013-09-13 12:52] #114 closed, assigned to nobody

[2013-09-13 17:53] joercasey commented on #141
The contents of C:\Users\joec\AppData\Local\WpfApplication2\ are:
app-1.0.0.0/the contents of the setup; exe, dlls
packages/WpfApplication2-1.0.0.0-beta-full.nupkg

WpfApplication2 does not appear in Programs or Start menu.

No application events that I can see.

[2013-09-13 22:43] shiftkey commented on #141
Are you able to start the app manually if you click the EXE (or the desktop shortcut)?

[2013-09-13 23:14] #119 closed, assigned to nobody

[2013-09-14 03:51] KyleGobel opened #146 "New-Release command issues with Windows7"
Tried a couple new projects today with shimmer 0.6.26, on Win7 x64, Visual Studio 2012, and latest Nuget.

Here's my Powershell log

[code]

[2013-09-14 03:56] KyleGobel commented on #146
This only occurs when I have not selected Enable Nuget Package Restore.  Is it just completely unsupported without it?  Maybe an error message or something indicating that it can't continue without package restore on or something.

[2013-09-14 04:48] shiftkey commented on #146
Correct.

I think it's related to the presence of the `.nuget` folder, but I can probably detect that and/or the `RestorePackage` flag in the csproj.

But ultimately this error message shouldn't be happening:

[code]

Because without a package all the bad stuff happens.

[2013-09-14 07:07] peters commented on #146
Isn't package restore enabled automatically in nuget 2.7?

[2013-09-14 07:22] shiftkey commented on #146
Yes, but creating packages automatically is not (which is done "the old way" still)

[2013-09-16 14:35] joercasey commented on #141
Yes

`C:\Users\joec\AppData\Local\WpfApplication2\app-1.0.0.0\WpfApplication2.exe` runs without problem

[2013-09-18 00:50] shiftkey commented on #143
I'm closing this one as "incorrectly reported" as I've now got some tests which reflect the correct WiX event stream...

[2013-09-18 00:50] #143 closed, assigned to nobody

[2013-09-18 10:04] shiftkey opened #150 "When the nuspec file exists and you update the package, be less annoying"
That means:
- don't set BuildPackage to true (see #123)
- don't show the nuspec file in VS

[2013-09-19 00:09] #129 closed, assigned to nobody

[2013-09-19 00:09] #150 closed, assigned to nobody

[2013-09-19 00:40] shiftkey opened #152 "Leverage Code Contracts properly"
We've been using this here and there but I'd really like get consistent with these and save some of my sanity:

TODO:
- confirm [this](http://visualstudiogallery.msdn.microsoft.com/1ec7db13-3363-46c9-851f-1ce455f66970) and [this](http://visualstudiogallery.msdn.microsoft.com/02de7066-b6ca-42b3-8b3c-2562c7fa024f) are all we need for devs to get started.
- investigate options for runtime checks (it

[2013-09-19 00:54] shiftkey commented on #141
There's a couple of fixes I've made to the installer that I believe you might have encountered.
- install same version again -> just chill out and start the app
- install a future version -> tidy up old installer

which are now in 0.6.27.

Are you able to test this and see if your issue is still occurring?

[2013-09-19 02:12] shiftkey opened #153 "Installer shouldn't expose "Change" option"
You can choose it from "Programs & Features" but it only opens a blank window, and we don't care about it either. So kill it off.

[2013-09-19 17:16] joercasey commented on #141
Updated to Shimmer 0.6.28; rebuilt; deleted `C:\Users\joec\AppData\Local\WpfApplication2\`; ran Setup.exe. Install failed. This is log:

[code]

[2013-09-19 22:14] shiftkey commented on #141
[code]

Excellent, I'll chase this one down now...

[2013-09-19 23:31] shiftkey opened #155 "CreateReleasePackage should error if the package Id contains "." or "-""
This would prevent someone from spending many hours dealing with the same headache I just did.

[2013-09-20 02:06] shiftkey commented on #141
@joercasey I've not been able to recreate this issue using a vanilla WPF app which makes me think there's something environmental we're not handling correctly around here.

Are these the only shortcuts on your taskbar?

[code]

If something is missed here, perhaps that's causing this exception (and I need to drill down into that code).

The step after this is running IAppSetup implementations, and

[2013-09-20 02:14] joercasey commented on #141
I'm not sure what Comm.Ico and outicon.exe are. I know there are MS
Outlook, a custom .NET application that uses ClickOnce, xchat, and a link
to Window Virtual PC also on my taskbar.

I never implemented IAppSetup; this is the first time hearing of it.
WpfApplication2 is whatever comes out of the box in an empty WPF
application.

On Thu, Sep 19, 2013 at 10:06 PM, Brendan Forster
notifications@gith

[2013-09-20 02:23] shiftkey commented on #146
Reproducible on my Win7 environment when you:
- don't have NuGet Package Restore enabled
- run `New-Release` on the latest release
- the build completes but no packages are created

[2013-09-20 02:48] #146 closed, assigned to nobody

[2013-09-20 02:52] shiftkey commented on #146
Publishing `0.6.29` which fixes that stupid Powershell error of mine.

[2013-09-20 04:24] shiftkey commented on #141
@joercasey I've pushed `0.6.30` no which includes some hardening of that code (see https://github.com/github/Shimmer/pull/157 for details) which will help me diagnose what's occurring.

I have my theories, but let's see what the logs say.

[2013-09-20 05:24] shiftkey commented on #73
Until they rev the prerequisites for `Microsoft.Bcl.Async`, you'll need to update `Microsoft.Bcl` to `1.1.3` to fix this.

[2013-09-20 05:24] #73 closed, assigned to nobody

[2013-09-20 08:16] peters commented on #127
@shiftkey AppSetup is broken again.

# Log

[code]

[2013-09-20 08:22] peters commented on #127
For this particular application all resources/dynamic libraries are repacked into a single executable with the exception of a few native dependencies. One of these are not being properly extracted causing https://github.com/github/Shimmer/blob/master/src/Shimmer.Client/InstallerHookOperations.cs#L172 to fail

[2013-09-20 08:28] peters commented on #127
@shiftkey You got mail.

[2013-09-20 13:01] shiftkey commented on #127
@peters I'm going to look at the AppSetup things next week (including testing the "load assembly from another location" scenario" mentioned here), but I think the documentation and testing will end up reflecting the "separate assembly for app setup components" thinking we've discussed here.

Is that cool?

[2013-09-20 13:03] shiftkey opened #158 "Delete the shortcuts folder when no shortcuts remain"
shortcut's are now removed successfully after 0.6.30, but the root folder remains on the start menu (win7)

![image](https://f.cloud.github.com/assets/869/1179178/150aaf80-21cd-11e3-9983-56f16666d658.png)

![](http://i.imgur.com/Mlpfb.gif)

[2013-09-20 14:02] joercasey commented on #141
Hey it worked! Thanks :D

Just to be fully verbose, when I build WpfApplication2 in vs2012, I get this warning:

[code]

And this is the log:

[code]

[2013-09-20 14:18] peters commented on #127
:+1:

[2013-09-20 23:01] shiftkey commented on #141
[code]

:sparkles::sparkles::sparkles::sparkles::sparkles::sparkles::sparkles::sparkles::sparkles::sparkles::sparkles:

I'll tidy up that code now to ensure we can handle shortcuts which are invalid. Thanks for bearing with me while I got to the bottom of it.

[2013-09-20 23:08] shiftkey opened #159 "Read the packages repository path from $ENV:APPDATA\NuGet (if it exists)"
We've implemented checks for the recursive folder scan here:

https://github.com/github/Shimmer/blob/master/src/CreateReleasePackage/tools/utilities.psm1#L199

But if this checks, we should be reading `$ENV:APPDATA\NuGet\NuGet.Config` here:

https://github.com/github/Shimmer/blob/master/src/CreateReleasePackage/tools/utilities.psm1#L218

and returning that value if it exists.

[2013-09-21 03:41] shiftkey opened #162 "Installer should elevate only when it needs to installs the .NET Framework"
From #142 we found that how WiX generates the installer is hard to control:
- by using a manager bootstrapper, the .NETFX needs to be installed up front
- by specifying `PerMachine="No"` the .NETFX installer doesn't elevate, which is important
- by specifying `PerMachine="Yes"` the installer always elevates, even when the .NETFX is installed, which is not ideal

Exploring some other options to be

[2013-09-21 03:49] #141 closed, assigned to nobody

[2013-09-21 04:15] shiftkey commented on #141
@joercasey I've pushed `0.6.31` which catches and skips invalid shortcuts.

Go forth and be awesome! :metal:

[2013-09-21 19:07] schulz3000 commented on #140
Do you want a static utils class with different methods like IsFile, IsRelative, ... ?
In the dotnet framework are much of this methods still implemented, in different namespaces and classes.
Should they wrapped and extended if needed?

[2013-09-22 00:44] anaisbetts commented on #140
Don't support relative paths - the updater should allow relative paths as part of its public API but they should basically immediately be converted to absolute paths. And relative HTTP URLs just don't make any sense here :)

[2013-09-22 00:45] anaisbetts commented on #140
We've already got System.IO.Abstractions, that should be good enough for this - if you find that methods are missing, since it works on Interfaces, add them via extension methods

[2013-09-22 00:49] shiftkey commented on #140
:+1: I've checked various BS things [here](https://github.com/shiftkey/Shimmer.Samples/blob/master/src/desktop/DesktopSample/ViewModels/SettingsViewModel.cs#L55) as part of the demo app.

I think I'll migrate these over to helpful exceptions in UpdateManager. Would that be preferred rather than a magic method to take care of this?

[2013-09-23 05:47] shiftkey opened #165 "When you provide one .exe, make the default shortcut the name inside the package spec"
Not the filename itself, as that's Not Very Friendly

![screen shot 2013-09-23 at 3 17 17 pm](https://f.cloud.github.com/assets/359239/1189460/a8309192-2413-11e3-88ef-1e403b008118.png)

[2013-09-23 08:49] shiftkey opened #167 "Note to self: Release configuration + New-Release = ???"
Something might be broken here

[2013-09-23 23:34] shiftkey opened #168 "Signed installers"
Because "turn off SmartScreen" is not great advice for users

[2013-09-24 03:02] shiftkey opened #170 "Applying multiple delta packages fails the checksum"
Repro steps:
- install version 1.
- deploy version 1.1 as delta package.
- deploy version 1.2 as delta package.
- check for updates (using deltas) and 2 packages are available
- downloads pass
- apply fails with mismatch in checksum

[2013-09-24 03:04] shiftkey commented on #170
Note: a single delta update does not fail the checksum :metal:

[2013-09-24 06:53] shiftkey commented on #170
Appears to be an issue with `New-Release` as this works:

[code]

But this does not:

[code]

[2013-09-24 18:32] anaisbetts commented on #170
While I don't see why it wouldn't work straight away, I definitely envisioned delta releases to only go up to the very next version

[2013-09-24 22:39] shiftkey commented on #170
@paulcbetts that's how I'd expect it to work as well

[2013-09-24 22:51] anaisbetts commented on #162
This seems like a bug in WiX. @robmen, any idea what's going on here?

[2013-09-24 23:08] robmen commented on #162
Burn only elevates when necessary. Not clear what exactly is being marked as PerMachine here. If the ExePackage installing NETFX then make sure the ExePackage is detected as installed. A log file will explain all: https://firegiant.zendesk.com/entries/24024218-Create-a-log-file-

[2013-09-24 23:27] shiftkey commented on #162
@robmen: this is the feature:

https://github.com/github/Shimmer/blob/master/src/CreateReleasePackage/tools/template.wxs#L53

And some details from the logs (with `PerMachine="Yes"`)

This is what happens when I cancel the UAC prompt:

[code]

And then when I relent and just let it elevate:

[code]

[2013-09-25 01:22] #170 closed, assigned to nobody

[2013-09-25 01:57] shiftkey opened #172 "CheckUpdates doesn't handle timeout exception"
![](http://i.imgur.com/OOSWLFC.gif)

[2013-09-25 02:07] shiftkey commented on #44
Right, so I've finally gotten this sample to a point where it covers installation and updating.

https://github.com/shiftkey/Shimmer.Samples

Feel free to send improvements to the demo app (I'll look to add features to it over the next few weeks as I work through it).

If there are things you'd like to see done in terms of samples, raise them as issues over there.

[2013-09-25 02:07] #44 closed, assigned to nobody

[2013-09-25 03:30] robmen commented on #162
You have no per-user packages in this Bundle so the Bundle is per-machine. Per-machine Bundles register to the per-machine ARP. Add a per-user package and the Bundle will behave as you expect.

[2013-09-25 04:05] shiftkey commented on #162
@robmen aha! Thanks for the pointer @robmen!

[2013-09-25 04:43] shiftkey commented on #162
@paulcbetts i think the best way out of this is to pull our BootstrapperApplicationRef into it's own installer (without the NETFX installer) and then include it here as an ExePackage with the right `PerMachine` values for both)

[code]

And the top-level installer references these two bundles:

[code]

@robmen let me know if there's a better way to mix a `BootstrapperApplicationRef` with a bundle

[2013-09-25 05:10] shiftkey opened #173 "Remove stale .nupkg inside 'New-Release'"
Because VS doesn't do it for you (and we have the technology to trigger a build from Powershell anyway :sparkles:)

[2013-09-25 05:17] shiftkey opened #174 "Should we provide a "what version am i running?" method?"
Because reflecting an assembly to read it's version is what savages do...

[2013-09-25 05:25] anaisbetts commented on #174
:+1: :sparkles:

[2013-09-25 05:58] shiftkey opened #175 "Challenge: detect whether a project is .NET4/.NET45/.NET451"
So we're going to have to cross the "install .NET 4.5" bridge at some stage, but there's things we can do right now to help make that step easier.

Here's a challenge for someone brave enough:

For a given csproj file, can you detect whether it targets .NET 4 or .NET 4.5 or .NET 4.5.1?

TODO:
- [ ] build a little Powershell function to do this
- [ ] checkin some automated tests using the existing

[2013-09-25 06:12] shiftkey commented on #116
So I've been thinking on this a bit and I thought I'd run through what happens when you run `New-Release`:
1. Remove old .nupkg files (TODO)
2. Using the specified project configuration (Debug/Release/???), build the project and it's dependencies
3. foreach package created it, transpile it into a release package
4. for the latest package, create an installer

Now, we don't actually care about the

[2013-09-25 06:16] shiftkey commented on #139
So I know NuGet 2.7 added support for **development dependencies**

I can test on our end that we're respecting these tags, but does that sound like what you need?

[2013-09-25 06:18] shiftkey commented on #66
I suspect we will have to rewrite our WiX bits for the elevation headaches now that we know the error of our ways.

In the meantime I'll keep this task in mind - see also the challenge #175 if someone wants to start on the detection code for what framework dependencies an application requires...

[2013-09-25 06:21] shiftkey commented on #153
http://stackoverflow.com/a/1742579

All hail StackOverflow!

[2013-09-25 07:48] shiftkey opened #176 "Can we extend the nuspec format for nefarious means?"
I suspect it will just freak out when packing but let's confirm first.

Why? You'll find out...

[2013-09-25 08:05] peters opened #177 "Indirect reference issues"
![image](https://f.cloud.github.com/assets/869/1207706/ecf0e280-25be-11e3-8d4b-317fd0c269bd.png)

[2013-09-25 08:14] shiftkey opened #178 "Get FxCop (and some minimal rules) into build"
Because the sins of the past can be absolved...

[2013-09-25 08:36] peters opened #179 "Crash when running 'New-Release'"
Building two consecutive releases causes Shimmer to crash.

Pretty much:

[code]

:boom: :boom: :boom: :boom:

[code]

[2013-09-25 08:37] peters commented on #179
Clearing the content of `Releases` directory before creating a new Release does the trick :+1:

[2013-09-25 08:54] peters opened #180 "Crash when using <references />"
If you specify a third party reference (which is not referenced by the main project, but is a build dependency) things go to shit:
# Nuspec

[code]
# Error

[code]

[2013-09-25 08:57] peters opened #181 "Broken installer"
# Reproduce steps

1) Install
2) Uninstall
3) Install
4) :boom:

Deleting `%LocalAppData%\MyFancyAppName` before attempting 3) resolves the problem.
# Log

[code]

[2013-09-25 09:07] peters opened #182 "Throw exception when specifying an invalid dependency in nuspec"
[code]

Throw an error while creating a new Release would be great.

[2013-09-25 09:11] peters opened #183 "Crash when specifying a referenced project as dependency"
Since referenced projects are not picked up by Shimmer, you need to specify them manually like so:

[code]
# Results in the following crash

[code]

[2013-09-25 14:58] shiftkey commented on #177
Prior art: #73

[2013-09-25 15:00] shiftkey commented on #179
[code]

I'm curious if this is repeatable. Feel free to reopen it if you can isolate where the script needs to be more robust.

[2013-09-25 15:00] #179 closed, assigned to nobody

[2013-09-25 15:02] shiftkey commented on #177
Also, can you share your `packages.config` for that project?

[2013-09-25 15:06] shiftkey commented on #183
I think the syntax is off:

[code]

But I'm also seeing similar errors to https://github.com/github/Shimmer/issues/179

[2013-09-25 15:06] #183 closed, assigned to nobody

[2013-09-25 15:12] shiftkey commented on #181
Which version?

The latest bits have fixed the issue where `AwaitableAsyncSubject<T>` give a more useful stacktrace, so if it's repeatable with that I'd love to see those stacktraces...

[2013-09-25 17:34] anaisbetts commented on #175
Isn't this just grepping for `TargetFrameworkVersion`?

[2013-09-25 20:16] robmen commented on #162
Why don't you just add a per-user MSI? This seems like a lot of work to create a specialized installation mechanism. <shrug/>

[2013-09-25 22:59] shiftkey commented on #175
@paulcbetts yes

[2013-09-26 04:59] shiftkey commented on #139
Confirmed with NuGet 2.7 -

[code]

Generated nuspec file:

[code]

That's how I'd go about ignoring packages which have been merged into this project :boom:

[2013-09-26 04:59] #139 closed, assigned to nobody

[2013-09-26 07:28] peters commented on #177
[code]

[2013-09-26 07:31] peters commented on #181
@shiftkey  0.7.0

Hmm, if you want to reproduce this, you need to create a broken installer. Try throwing an exception in AppSetup so that the installer fails.

[2013-09-26 07:38] peters commented on #175
@shiftkey

[code]

Unsure about **NET451**

http://stackoverflow.com/questions/2923210/c-sharp-conditional-compilation-and-framework-targets/2928835#2928835

[2013-09-26 07:42] shiftkey commented on #177
I thought it was related to the `Microsoft.Bcl` update but you've got the latest version.

I wasn't able to recreate the scenario using a blank WPF application (.NET45) and those dependencies, but the MSBuild output itself (verbose plz) might help spot where this is hiding.

[2013-09-26 07:43] peters commented on #181
@shiftkey Also, got `AppSetup` issues again. Program installs fine though ;)

[code]

[2013-09-26 07:49] peters commented on #177
@shiftkey You got mail! About 2,5 MB worth of logs!

[code]

[2013-09-26 07:49] shiftkey commented on #175
@peters I want this to be available from Powershell, and I think we can be smart enough to do it without touching their csproj files...

[2013-09-26 08:29] peters commented on #175
@shiftkey

[code]

[code]

Should do the trick :)

[2013-09-26 08:32] peters commented on #175
I'm not a powershell guy, but i guess you could call this method somehow ;) After doing some research
on stackoverflow, and checking what ILSpy and ILRepack does, this is by far the most reliable way.

[2013-09-26 08:41] shiftkey commented on #181
I'm curious if the application was open when you were uninstalling:

Because if you try and uninstall the application while it's running, we'll mark the files as `MOVEFILE_DELAY_UNTIL_REBOOT`. That might cause an issue when you try and install it again after.

[2013-09-26 10:48] shiftkey commented on #181
Haven't forgotten, it's still on the list

[2013-09-26 16:50] matteomigliore opened #185 "Install using own thin client"
I would use Shimmer to install the prerequisites, FW 4.5.
Then I would use my WPF client with my MVVM toolkit and Shimmer to manage setup/update/corruption of the main application.

How can I do?

[2013-09-26 17:15] peters commented on #181
@shiftkey Finally i was able reproduce this sucker without breaking the installer. If you have `%LocalAppData%\App` open in Windows Explorer and then uninstall. But if you try to run Setup.exe after uninstall it breaks (works as expected if you delete the folder before you attempt to reinstall).

[2013-09-26 18:32] anaisbetts commented on #175
This looks great, but what file are you going to examine? What if they have two EXEs? How do you find the paths of said EXEs?

[2013-09-26 18:50] schulz3000 commented on #175
@peters I think you do not need the Mono.Cecil package, you can get the TargetFrameworkAttribute easily via reflection.

[code]

if target is null then the Frameworkversion is smaller then 4.0

Same is also possible in powershell

[code]

Maybe it's also to think about to detect if it's dotNet 4.0 Client Profile or Full

[2013-09-26 23:04] shiftkey commented on #185
Installing .NET 4.5 is something I'm tackling right now as part of the installer elevation issue.

As for the sample, check out the desktop sample - while it uses ReactiveUI for the navigation and MVVM bits, the code itself doesn't depend on any specific framework.

https://github.com/shiftkey/Shimmer.Samples

[2013-09-27 00:08] shiftkey commented on #162
@robmen we've gone down the path of the `BootstrapperApplicationRef` for the hooks to show a custom UI.

I'll do some reading into whether there is an equivalent hook or sample under the `Product` element.

[2013-09-27 00:14] robmen commented on #162
The `Bundle` makes a lot of sense to me. What I was suggesting was to just package your application in a per-user MSI and bundle that with NETFX. This is what everyone does today. :)

[2013-09-27 00:18] shiftkey commented on #162
@robmen it's actually trivial to unpack the application into it's `%LocalAppData%` (which the bootstrapper does) so we haven't really needed it :trollface:

[2013-09-27 00:26] shiftkey commented on #162
Oh well, time to do this I guess :smile:

[code]

[2013-09-27 00:31] #173 closed, assigned to nobody

[2013-09-27 00:31] #182 closed, assigned to nobody

[2013-09-27 06:56] peters commented on #175
@schulz3000 Aha, that's a much smoother approach ;)

[2013-09-27 06:58] peters commented on #177
@shiftkey Resolved in 0.7.1

BUT! I'm now unable to create a new release...

[code]

:facepunch:

[2013-09-27 07:09] peters opened #186 "Uninstall: Shutdown running application"
The uninstaller should send a window message to the program you are attempting to uinstall, telling it to shutdown. This would solve a couple of edge cases where you mark certain files as `DELETE_ON_REBOOT`. These are pretty niché scenarios, but you are bound to have some clients trying to uninstall / install an application (without rebooting).

This is mainly related to https://github.com/github/

[2013-09-27 07:10] shiftkey commented on #177
@peters I think you're hitting what I saw here #167 - and I think this is related to the "Building project" step

I've chosen to just Build here (not Rebuild, no Clean) - but I remove any nupkg files before that.

I'm not quite happy with this, as I've been bitten a couple of times where a change I make won't trigger a build (and thus a new package).

I can open a change [here](https://github.com/

[2013-09-27 07:15] peters commented on #177
I've tried:

1) Clean, Build -> New Release
2) Clean, Rebuild -> New Release
3) Clean -> New Release

None of them work and results in https://github.com/github/Shimmer/issues/177#issuecomment-25226431

Clean, Rebuild would be ideal.

[2013-09-27 07:16] shiftkey commented on #177
@peters this is on Windows 7, right?

[2013-09-27 07:19] peters commented on #116
https://github.com/github/Shimmer/issues/176

[$platformTarget$] is derived from the main assembly

[code]

You should also be able to specify a configuration to build.

1) New-Release -Configuration ReleaseX64
1) New-Release -Configuration ReleaseX86
1) New-Release -Configuration DebugX64
1) New-Release -Configuration Debug64

Something like this would be absolutly awesome! ;)

[2013-09-27 07:20] peters commented on #177
@shiftkey
![image](https://f.cloud.github.com/assets/869/1224285/4e895af4-2745-11e3-95fb-d4e6708e1598.png)
![image](https://f.cloud.github.com/assets/869/1224288/633dd808-2745-11e3-98d2-1f000b20cf78.png)

Same issue in VS 2012 Ultimate also

[2013-09-27 07:26] shiftkey commented on #177
Awesome, I think there's something messy with how Powershell v2 and the EnvDTE automation behave.

On my Windows 8 machine that operation blocks, but I suspect it's not blocking on your side (which fits with the "always no packages" step.

[2013-09-27 07:28] peters commented on #177
Aha, it's all swooosh here. Just waiting for that Windows 8.1 crap to be released so i can upgrade :dancers:

[2013-09-27 07:29] shiftkey commented on #186
And here I was thinking a Process.Kill would be "good enough" on uninstall :)

I'll leave this one open if someone wants to have a crack at it, but I'd love to get this in sooner rather than later.

[2013-09-27 07:33] peters commented on #186
@shiftkey Sure, give me some pointers to where Process.Kill happens and i'll provide a PR ;)

[2013-09-27 07:36] peters commented on #177
https://github.com/github/Shimmer/issues/59 should involve Windows XP SP3, Windows Vista, Windows 7 and Windows 8! Fire up ze VM'S :D

[2013-09-27 07:37] peters commented on #177
Maybe vista can be skipped, (hopefully) nobody uses that crap anyway

[2013-09-27 07:41] shiftkey commented on #186
@peters nah, let's Do It The Right Way.

As for where the code should live, I think [here](https://github.com/github/Shimmer/blob/master/src/Shimmer.Client/InstallManager.cs#L166) is a good place to start experimenting...

[2013-09-27 07:42] shiftkey commented on #186
I'm not doing that at the moment, it was just a (horrible) thought...

[2013-09-27 07:43] peters commented on #130
Discovered another use case for this yesterday: Modifying HKEY_CURRENT_USER registry keys

[2013-09-27 07:51] shiftkey commented on #177
Right.

I can make the "delete existing .nupkg files and build" run based on the version of Powershell you're running - to unblock your testing. It'll still fail if you haven't got packages, but it stops us being too cute with automating this stuff.

[2013-09-27 14:41] peters commented on #177
@shiftkey Hmm, the indirect reference issue is suddenly reappeared.. wtf is going on :/

[2013-09-27 18:39] anaisbetts commented on #175
The problem with `LoadFrom` is that you now have to successfully load the assembly (including resolving all of its dependencies) - aren't there reflection-only versions of `Assembly.Load`?

[2013-09-27 23:50] shiftkey commented on #177
@peters I couldn't spot anything strange in the build log that might point to a mismatch in assemblies.

I'll keep an eye out in my testing but I can't guarantee an ETA at this stage.

[2013-09-28 00:26] #167 closed, assigned to nobody

[2013-09-28 01:20] peters commented on #175
@paulcbetts Oh, well then `Assembly.Load` is out. You could parse the MSIL yourself. I could probably rip out the code from `Mono.Cecil`, but it seems like hell of alot of work and i really don't see any issues with depending on `Mono.Cecil`. If so, do care to enlighten me ;)

[2013-09-28 23:13] akoeplinger commented on #175
I agree with @paulcbetts, loading the target assembly is probably not a good idea.

Here's my approach using MsBuild directly:

[code]

Note: the UnloadAllProjects() calls are to avoid loading stale data when the csproj is modified (loaded projects are cached)

[2013-09-28 23:23] shiftkey commented on #175
@akoeplinger :sparkles: I think we're getting close.

I'm currently working through the elevation issue here #163 but I'll stub out a method here for us to do that check.

The end goal for this is "hey, you've got a .NET45 project - let's create a .NET45 installer"

[2013-09-29 07:19] shiftkey commented on #180
I don't have a specific warning for this (haven't been able to create a package with a bad reference due to getting this build warning):

But as part of #184 I'm catching and bailing out on the error.

Can you put together a small repro of a project which can be build successfully but has a bad reference value?

[2013-09-29 20:51] anaisbetts commented on #186
Hm, I actually think this should be a more explicit API than just sending a window message. First of all, you have no idea that WM_USER + 50 is free, and you also have no idea how to find the (possibly multiple) window handles to target. What if the application runs in the background and doesn't _have_ a window loop?

[2013-09-29 20:55] anaisbetts commented on #186
Instead, I would have an API that is called on startup, and opens or creates a named pipe and parks itself on a read, then the installer can send down a "Shut it down" message that all of the open applications will receive and respond to

[2013-09-29 21:07] peters commented on #186
@paulcbetts IPC is the most proven solution, no doubt about it. [wyupdate](https://code.google.com/p/wyupdate/source/browse/trunk/UpdateHelper/PipeServer.cs) has a simple implementation available, it does the job... but it's not as elegant as how [EasyHook](http://easyhook.codeplex.com/SourceControl/latest#branches/release-2.7/Examples/FileMonitorInterceptor/EntryPoint.cs) does it ;)

[2013-09-29 21:13] peters commented on #180
@shiftkey :+1: :+1: 0.7.1
![image](https://f.cloud.github.com/assets/869/1233919/eff8eb90-294b-11e3-8daa-6a4f61ffe6fb.png)

[2013-09-29 23:33] shiftkey commented on #186
@paulcbetts @peters yep, an IPC-based solution would be the most-sane way to do it

[2013-09-29 23:36] #178 closed, assigned to nobody

[2013-10-03 00:17] shiftkey opened #189 "Internalize the EnumerableExtensions class"
Because feelings

[2013-10-03 00:35] anaisbetts commented on #189
:+1:

[2013-10-03 03:12] shiftkey opened #190 "Don't overwrite existing file with a file from a dependency"
So when [redacted] specifies a given version of a file, say:

`<file src="lib\net40\Foo.dll" target="lib\net40" /> `

And a dependency has a similar file, which is an older version.

After creating the release package, the old version of the file exists - it should be the one I specified!

[2013-10-05 05:47] shiftkey commented on #189
Closed via #191

[2013-10-05 05:47] #189 closed, assigned to nobody

[2013-10-05 11:33] #180 closed, assigned to nobody

[2013-10-05 11:35] peters commented on #180
Ahh i totally forgot about this, i'll try to get a reproduce project going soon and get back to you ;)

[2013-10-05 12:52] shiftkey commented on #190
Nevermind, it's just #192. Move along...

[2013-10-05 12:52] #190 closed, assigned to nobody

[2013-10-05 12:57] shiftkey commented on #180
Feel free to reopen this when you do

[2013-10-05 13:24] shiftkey opened #194 "Shortcuts may be locked by another process (lolwhat)"
When the shortcuts are modified or cleaned up, ensure you handle the UnauthorizedAccessException that might bubble up.

[2013-10-06 00:08] #153 closed, assigned to nobody

[2013-10-06 03:59] shiftkey opened #196 "KB2468871 should be installed before bootstrapper starts"
## Warning: lots of logs

So I have a bundle [here](https://gist.github.com/shiftkey/b3edf7a3f563c27e866e) which is attempting to install a KB before the installer UI appears (because Bad Things will happen).

When the app installs, it goes off and checks the registry for our two new keys:

[code]

That all looks normal, with the fourth package being our dummy installer to keep the elevation as pe

[2013-10-06 04:05] shiftkey commented on #196
One other note from that WiX bundle: [this line](https://gist.github.com/shiftkey/b3edf7a3f563c27e866e#file-template-wxs-L86) is probably wrong

[code]

Testing this on my Win7 x64 VM it was returning `false` - but I think it should be returning `true` so that only one KB is installed (not both).

Perhaps this:

[code]

[2013-10-06 08:25] shiftkey commented on #196
Right, so KB2468871 requires a restart. And after that restart it doesn't fix the problem. Trying 4.0.3 next.

[2013-10-07 11:03] shiftkey opened #199 "Explain AppSetup and illustrate some common scenarios"
Walk through these hooks:
- Install
- Install a version
- Uninstall a version
- Uninstall everything

Illustrate some common scenarios (which don't need admin rights):
- Unzip an archive to a given folder
- Cleanup the folder on uninstall
- fetch data from a webservice

Identify some of the known constraints:
- put components in a separate assembly to your main app
- we try and load necessary depe

[2013-10-07 11:06] shiftkey opened #200 "Explain how shortcuts work"
By default we create a shortcut on the desktop for each .exe that exists inside the deployed app. Which is rather neat, but what about if you want something different?

Let's explain:
- how to drop a shortcut the user doesn't need
- how to rename a shortcut
- how to create a custom shortcut

[2013-10-13 10:24] peters opened #201 "Access violation when checking for updates"
@shiftkey

Version: 0.7.2

Please note that the update directory is empty, and i just wanted to test what
Shimmer does in that case. Appearently it results in a epic crash.

Also access violation is also observed in these scenarios:
1. You specify an invalid url (borked URI)
2. The folder containing updates does not exist

So.... This is not quite ready for prime time i guess :fire_engine:

[code]

[2013-10-13 10:32] shiftkey commented on #201
Catching those errors and surfacing them as `ShimmerConfigurationExceptions` (and updating the sample to demonstrate those issues) is something I had started implementing (but put aside because of other priorities).

Now that someone else has hit the same issue, I feel much more confident about adding those in, for real.

[2013-10-13 10:53] shiftkey commented on #201
Oops, I'm not thinking of something I planned to do, but something I'd already shipped:

https://github.com/github/Shimmer/commit/d450bacbe37331b96466769952b4c310401a871f

Ok, so coming back to your code above - there's two things we could do in this case:

### Throw an exception

Pros:
- blindlingly obvious when things aren't right
- exceptions can point users to documentation explaining configur

[2013-10-13 11:56] peters commented on #201
Exception based flow control is tha shit!

Let the exceptions buble -> e.g AggregateException

Hmm, that's a though one. Maybe something like this:
1. InvalidUpdateUrlException (Maybe use default framework exception here?)
2. UpdateFolderNotFoundException (could not establish connection, unable to list folder content)
3. CheckForReleaseException (some internal state in shimmer prevents checking fo

[2013-10-13 11:56] shiftkey commented on #201
So I added a test like this:

[code]

Gives me this lovely error:

![screen shot 2013-10-13 at 10 52 22 pm](https://f.cloud.github.com/assets/359239/1321933/37f426b4-33fe-11e3-833f-ac020d812e79.png)

I suspect I need to revisit the behaviour of the [custom awaiter](https://github.com/github/Shimmer/blob/master/src/Shimmer.Core/ReactiveUIMicro/Rx-Shim/AwaitableAsyncSubject.cs) we're using here as t

[2013-10-13 12:00] peters commented on #201
Yes, sir!

[2013-10-13 12:07] peters commented on #201
Cool, solves https://github.com/github/Shimmer/issues/201#issuecomment-26216405

[2013-10-13 12:12] shiftkey commented on #201
@peters ok great, that gives me more to go with

In terms of raising exceptions, these are my current thoughts on it:

Things which need to be addressed (either by the user or by the developers who wrote the application) should be raised and handled accordingly. If an update cannot be done (for whatever reason) it should not impact the behaviour of the application. Don't nag the user and don't cra

[2013-10-13 12:21] peters commented on #201
Yeah, this is pretty hairy stuff. I'm thinking maybe [monotorrent](https://github.com/mono/monotorrent) could
be fit for Shimmer (as an alternative). Obviously not everybody has the resources to host artifacts in the cloud (torrent metadata), but i'm seriously thinking about doing just so because deployments in the future might be in "hostile" environments where you `never, ever, never, ever` are

[2013-10-13 12:22] peters commented on #201
Nice!

[2013-10-13 21:13] shiftkey commented on #201
We've been looking to use [BITS](http://en.wikipedia.org/wiki/Background_Intelligent_Transfer_Service) to support more robust downloading of updates, but this is definitely a post-1.0 feature...

[2013-10-13 21:27] #162 closed, assigned to nobody

[2013-10-13 21:30] #127 closed, assigned to nobody

[2013-10-13 21:47] peters commented on #201
@shiftkey Hmm, i'm trying to exclude two packages from my nuspec dependency list because these are being
obsfucated by SmartAssembly, but using the following nuspec (the files are still being included):

[code]

Any ideas on how i this can be achieved?

[2013-10-13 21:50] peters commented on #201
Edit: The nupkg is generated correctly, but it's shimmer that references them (full pkg).

[2013-10-13 21:58] shiftkey commented on #201
Inside the `packages.config` specify `developmentDependency="true"` for whichever packages should be excluded.

[2013-10-13 22:00] peters commented on #201
:+1: :+1: :+1: :+1: :+1:

[2013-10-13 22:29] peters opened #202 "Feature request: Expose Bump-Version in Visual Studio"
I want [Bump-Version](https://github.com/github/Shimmer/blob/master/script/Bump-Version.ps1) in [Visual Studio](https://github.com/github/Shimmer/blob/master/src/CreateReleasePackage/tools/visualstudio.psm1) :sweat_smile:

[2013-10-13 22:33] peters commented on #202
Maybe these nifty powershell scripts could reside in `Shimmer.BuildTools` so they can be used in other projects
without a hard dependency on `Shimmer`

[2013-10-14 01:48] shiftkey commented on #201
Right, so I'm now stuck between a rock and a hard place on this issue.

When you throw an exception after the fact (like we do when we await an `AwaitableAsyncSubject`), the stack trace is thrown away, like this:

![screen shot 2013-10-14 at 12 23 02 pm](https://f.cloud.github.com/assets/359239/1323212/774d248e-346f-11e3-9da4-d076a16172eb.png)

Without a really nice message (or stacktrace) these i

[2013-10-15 12:52] peters commented on #175
@shiftkey @paulcbetts I've created the powershell version of what cecil does. Works with native binaries also.

Gist available [here](https://gist.github.com/peters/6991125)

NB! It's not possible to tell NET45 from NET451 without writing another 500 lines of code. I'll consider it
if you need it.

# Prerequisites for testing

[code]

# Sample output

[code]

[2013-10-15 12:58] peters commented on #175
@shiftkey NET45 is detected by https://gist.github.com/peters/6991125#file-getassemblyinfo-ps1-L496

I discovered via dumpbin that the minor subsystem version was different between 4.0
and 4.5 binaries otherwise it would be impossible to detect. Sadly this is not the case between 4.5 and 4.5.1.

[2013-10-17 13:24] matteomigliore opened #204 "Previous .nupkg version files"
Shimmer look in the bin\debug folder for the previous .nupkg releases, but place them under the Source Control is not confortable, is not possible to commit the RELEASES folder to the Source Control instead?

[2013-10-17 14:19] peters commented on #175
@shiftkey Sorry bud, but powershell is a no go if you want to differentiate NET45 and NET451, so i created a
nuget package that uses cecil to extract the correct target framework: https://github.com/peters/assemblyinfo/tree/master

Tests available [here](https://github.com/peters/assemblyinfo/blob/master/src/assemblyinfo.tests/AssemblyInfoTests.cs).

Nuget package available [here](https://www.nuge

[2013-10-17 20:10] matteomigliore opened #205 "RELEASES file hosted in IIS"
I suggest to add an extension to the RELEASES file, I'm trying to add it in a IIS website, but I don't know how to insert the MIME type.

[Update]
To publish the files using IIS, place a web.config with this configuration:

[code]

[2013-10-17 20:36] matteomigliore opened #206 "Old version of the packages on the client"
Is not possible to remove the old versions, excluded the penultimate to allow the differential, to reduce the space required by the installation of the app?

[2013-10-18 05:04] anaisbetts commented on #206
@matteomigliore Sure - I'd take that PR

[2013-10-18 07:20] peters commented on #155
@shiftkey Could you elaborate on this?

[2013-10-21 14:00] matteomigliore opened #208 "Differential package fails"
I added a package (Exceptionless.Wpf) to my solution but now when I make the release I obtain this error:
CreateReleasePackage.exe :
At [PATH]\packages\Shimmer.0.7.4\tools\com
mands.psm1:70 char:26
-         $releaseOutput = & $createReleasePackageExe -o $ReleasesDir -p $packageD ...
-                          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - CategoryInfo          : NotS

[2013-10-22 08:56] peters commented on #175
@shiftkey Are you on vacation? ;)

[code]

[2013-10-22 11:04] shiftkey commented on #175
@peters I've been busy with Other Things, this Shimmer backlog is something I'll be triaging tomorrow...

[2013-10-22 15:22] peters commented on #175
:+1:

[2013-10-26 09:35] peters commented on #201
@shiftkey In Shimmer 0.7.4 suddenly all project references (not nuget packages) are by default added to the nupkg and this was not the case before. Trying to override with `<references />` but still has no effect. The reason this is important is that they need to be obsfucated. This could be solved with an `AfterCompile` target, but there's a bug in SmartAssembly so this does not work either. Idea

[2013-10-26 09:43] peters commented on #177
@shiftkey Checkout this [tool](https://github.com/mikehadlow/AsmSpy) and it should reveal any inconsistencies. I used it the other day and it worked great. Visual Studio 2013 also has the ability to generate assembly bindings on-the-fly. See http://msdn.microsoft.com/en-us/library/2fc472t2.aspx

[2013-10-26 09:45] peters commented on #204
@matteomigliore I been trying out various storage solutions, but the smoothest one so far is running storing
everything into a git submodule and ensuring `--depth 1`. It's already around 400MB but if you got a fast pipe
you should be all right.

[2013-10-26 18:11] anaisbetts commented on #201
This is only fixed in .NET 4.5, if you're using 4.0 you're up a creek :(

[2013-10-26 19:18] peters commented on #201
@paulcbetts I eventually moved the entire build process out of visual studio and ending up with
creating the nupkg myself. Here's the code snippet i used for creating a squirrel release:

[code]

[2013-11-13 23:39] stefanolson opened #214 "Various problems using nuget"
I'm trying to install the nuget package into my application.  Unfortunately the documentation here is not particularly clear on what to do:
https://github.com/squirrel/Squirrel.Windows/wiki/QuickStart

It says do this:
•Install-Package Squirrel -Project TestApp

To which the package manager says:
Install-Package : Unable to find package 'Squirrel'.
At line:1 char:1
- Install-Package Squirrel -Proj

[2013-11-13 23:44] stefanolson opened #215 "Setting up file associations"
One thing I need to do with my application is have files associated with my application so they open the application if they are double clicked on.

Is there a way with squirrel to set these up in the same way that we can with click once? (http://msdn.microsoft.com/en-us/library/vstudio/bb892924.aspx)

Stefan

[2013-11-13 23:47] anaisbetts commented on #215
Yes, you'd need to do that in a custom installer DLL, create a DLL that implements `IAppSetup` (there's a base class that does a lot of the work for you)

[2013-11-13 23:47] #215 closed, assigned to nobody

[2013-11-13 23:49] anaisbetts commented on #214
This should be `Install-Package Squirrel.Windows -Project UserManager`. Somebody claimed our NuGet package name and is sitting on it

[2013-11-13 23:52] stefanolson commented on #214
Now get (vs 2013 .net 4.5 project):
Install-Package : Unable to find package 'Squirrel.Windows'.
At line:1 char:1
- Install-Package Squirrel.Windows -Project UserManager
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - CategoryInfo          : NotSpecified: (:) [Install-Package], InvalidOperationException
  - FullyQualifiedErrorId : NuGetCmdletUnhandledException,NuGet.PowerShell.Commands

[2013-11-14 01:46] stefanolson commented on #214
Install-Package Shimmer -Project UserManager
works but is 0.7.4

[2013-11-14 01:47] shiftkey commented on #214
@stefanolson @paulcbetts I have a different avenue to raise the package name issue, I'll pick this up tomorrow

@stefanolson stick to Shimmer for the moment, a future update will switch you over to Squirrel once we have our ducks all lined up. Apologies for the delays.

[2013-11-14 02:38] stefanolson commented on #214
@shiftkey Thanks

[2013-11-14 02:39] stefanolson opened #216 "nupkg file not building?"
Having installed version 0.7.4, I now build the project and then I am trying to create a release and discover that no nupkg file has been created:
Shimmer: No .nupkg files were found in the build directory

Shimmer: Have you built the solution lately?

Here are the steps to repeat this problem:
Create a new WPF application
in the package manager:Install-Package Shimmer
build the WPF application
at

[2013-11-14 04:49] bgrainger commented on #214
@stefanolson I had the same trouble, and wrote down [what I had to do to get Squirrel working](https://gist.github.com/bgrainger/7287703); it might help with some of the problems you're experiencing.

[2013-11-15 19:00] stefanolson commented on #216
I have finally figured this out.  There is a key extra step that is not mentioned directly in the QuickStart.

In order for the package to build you need to right click on the solution and select enable package restore.  Currently there is just listed as recommended, but if you don't do that your package will never build.  It is also important to mention that it is accessed by right clicking the s

[2013-11-15 19:00] #216 closed, assigned to nobody

[2013-11-15 19:04] stefanolson commented on #214
@bgrainger  Thanks Bradley, that helped point me in the right direction.

[2013-11-19 06:04] peters commented on #215
@paulcbetts Is the project dead or postponed?

[2013-11-19 17:11] shiftkey commented on #215
@peters it's been delayed while I've been working on other things

[2013-11-20 08:06] peters commented on #215
:+1:

[2013-11-20 10:05] peters opened #218 "Delta package diff ignores `content` folder"
When creating a new release, delta diffing is not run on `content` directory
so you basically end up with a useless delta package about the same size as the previous release. The delta package size in this case should be approx 467 bytes give or take, not 29 MB !

![image](https://f.cloud.github.com/assets/869/1580952/1ce54eb2-51cb-11e3-9831-332c3979cb78.png)

[2013-11-20 10:44] peters commented on #201
In shimmer 0.7.4 automatic updates are still broken. I get the following error message when attempting
to update one of my applications:

[code]

[2013-11-20 10:45] peters commented on #201
Assembly manifest

[code]

[2013-11-28 22:36] stefanolson opened #219 "Setting output/Releases folder"
In my solution I have two projects that use Squirrel.  Unfortunately, this means that whenever you call New-Release for one project it creates a setup.exe that kills the previous one.

So there are a couple of issues here:
1. I can't seem to specify a releases directory, as is suggested here: https://github.com/Squirrel/Squirrel.Windows/issues/106
if I do that I get this output from powershell:
PM

[2013-11-29 00:48] stefanolson opened #220 "Excess files in package?"
When I have built my release using new-release, the .nupkg file contains a ridiculous number of files. As you can see from the picture below it has included versions for .net 2.0, various portable versions et cetera.  The app is 4.5 based, and everything that I need is in the net45 folder, but unfortunately when it installs it is using System.Net.Http.Formatting.dll from portable-wp8+netcore45+net

[2013-11-29 09:02] peters commented on #220
@stefanolson I agree.. that's why i just ditch all the nuget stuff altogether and include all files in the final release directory. This is okay since i already use a custom deploy profile outside of visual studio.

[2013-11-29 09:03] peters commented on #219
@stefanolson Try this method: https://github.com/peters/myget/blob/master/myget.include.ps1#L1416

[2013-11-29 18:14] anaisbetts commented on #220
So, the problem is, all of those are entirely valid platforms for your .NET 4.5 app - you could very well have a reference to something in one of those folders, if one of the NuGet packages only shipped a Portable variant (or, as many packages do, only shipping a Net20 or Net35 binary). Detecting what binaries you actually use is pretty difficult :-/   I think we could do it, if we SHA1d every bin

[2013-12-01 01:44] stefanolson opened #221 "UpdateManager hanging and crashing when using progress"
I've had a few the problems when running the update manager when the releases file cannot be found (no internet access etc...). The application hangs trying to download when it doesn't exist ONLY IF progress is set.

Sometimes, when I resize the application I get a crash saying that the update manager needs to be disposed, but the code hasn't finished running (I have a breakpoint on every possible

[2013-12-01 01:48] stefanolson commented on #219
Thanks @peters. I looked through the file, but I'm not sure how to use it within the package manager console.

I decided the best thing to do this case is to create a second solution, so that it will correctly create the second project's setup un different folder.

I think future releases of Squirrel should place the releases in the project folder rather than the solution folder and this would sol

[2013-12-01 05:25] stefanolson opened #222 "AppSetup in dll not being called"
In this issue I was advised to create a dll containing an IAppSetup derived class: https://github.com/Squirrel/Squirrel.Windows/issues/215.

So I have done this, but my .dll never gets called as far as I can tell because the shortcut name is not used:

[code]

In the install log, my DLL is never mentioned, but it does have lots of references to a particular DLL that can't load (one of mine - Share

[2013-12-01 05:27] stefanolson commented on #220
@paulcbetts The problem with the current situation those that some reason it is picking the wrong DLLs, which caused my application not work, but it's fine, it is easier for me to avoid using the nugget stuff - creates a much cleaner result.

[2013-12-01 05:27] #220 closed, assigned to nobody

[2013-12-01 23:30] bgrainger opened #225 "InstallManagerTests are failing"
Running the `InstallerManagerTests` fails with `Message: Assert.True() Failure`.

Debugging the tests shows that `InstallerHookOperations.findAppSetupsToRun` is throwing a `ReflectionTypeLoadException` with `LoaderExceptions` containing

I suspect that the various nupkgs in `src\Squirrel.Tests\fixtures` need to be rebuilt with a dependency on `Squirrel.Client` instead of `Shimmer.Client`.

Running

[2013-12-02 02:27] anaisbetts commented on #221
What happens if you enable first-chance exceptions?

[2013-12-02 02:39] stefanolson commented on #221
Still nothing, no exceptions at all :-(

[2013-12-03 12:12] #159 closed, assigned to nobody

[2013-12-03 12:34] shiftkey commented on #222
@stefanolson I'm seeing some failing tests with the IAppSetup bits.

Let me investigate as it's probably something that's come in as part of the renaming of things.

[2013-12-03 12:44] shiftkey commented on #222
@stefanolson could you also have a look in the Squirrel logs to see if (as I suspect) there's a ReflectionTypeLoadException like this:

[code]

https://github.com/squirrel/Squirrel.Windows/wiki/Diagnostics-and-Tracing

[2013-12-03 12:51] shiftkey opened #226 "Publish NuGet updates for Shimmer to transition existing clients"

[2013-12-03 18:57] stefanolson commented on #222
@shiftkey Yes:
[WARN][2013-12-02T09:52:37] InstallerHookOperations: Couldn't load types from module C:\Users\Stefan\AppData\Local\legacydocs\app-1.0.0\LegacyDocs.exe: System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.
   at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
   at

[2013-12-04 07:26] bgrainger commented on #221
I can reproduce the crash by changing my update URL to `https:` (which I know will fail), and calling `CheckForUpdate(false, progress)` as per @stefanolson. (`CheckForUpdate()` with no progress will not crash.)

I've traced it to [line 46 of BitsManager.cs](https://github.com/Squirrel/Squirrel.Windows/blob/master/src/Squirrel.Client/BitsManager.cs#L46). If I replace

[code]

with

[code]

my app d

[2013-12-04 07:32] bgrainger commented on #221
@stefanolson: Are you the same Stefan Olson who packaged up my [Win32 splash screen](http://code.logos.com/blog/2008/09/displaying_a_splash_screen_with_c_introduction.html)? If so: small world, isn't it? (Also, your blog is currently down.)

[2013-12-04 13:23] shiftkey commented on #222
Oooh, I know this one!

https://github.com/Squirrel/Squirrel.Windows/blob/master/src/Squirrel.Client/InstallerHookOperations.cs#L176

We only scan `*.exe` - which is a decision made way back in the day.

As we really want people to not have `IAppSetup` components in their main application, this really should change to check `.dll` files as well.

[2013-12-04 16:59] stefanolson commented on #222
@shiftkey Well that would certainly explain it!  I will try putting the code in an EXE next week and see if I can get it to work in the meantime

[2013-12-04 17:06] stefanolson commented on #221
@bgrainger Yes, I am the same Stefan Olson! The WPF community is sadly very very small and with Microsoft's focus away from the desktop probably not going to get any bigger :-( WPF is just so much more flexible than WinRT or Windows phone which I'm doing most of my other work in these days. I feel like just about every project I work on you have to build for three or four different platforms and t

[2013-12-04 17:07] stefanolson commented on #221
@bgrainger thanks for the suggestion regarding the web exception. I will give that a go although most of the time I wasn't getting a web exception I was mostly just getting it hanging, but hopefully that will fix that as well

[2013-12-07 16:20] flagbug opened #227 "New-Release doesn't find project dependencies"
I have a solution with multiple projects, each with a .nuspec file and `BuildPackage` enabled. The main project has a dependency on the other two projects and I specified them as dependency in the .nuspec of the main project as described [here](https://github.com/squirrel/Squirrel.Windows/wiki/Specifying-The-Right-Dependencies#project-references)

When creating a `New-Release`, I get the following

[2013-12-18 11:03] rzhw opened #230 "Installing locally built nupkg doesn't contain CreateReleasePackage"
New-Release initially failed with locally built Squirrel nupkg since CreateReleasePackage.exe wasn't in `packages/Squirrel.0.*.*/tools`. Worked after copying it in.

[2013-12-20 02:15] stefanolson commented on #222
@shiftkey using a .exe works! Yey! A DLL would be better, so I'll change back to that when a future release checks for DLLs. But at least it works in the meantime. Thanks

[2013-12-20 03:25] shiftkey commented on #222
@stefanolson great! I'll leave this open as a reminder to
- add support for `.dll` files
- possibly look to deprecate support for `.exe` files in the future

[2014-01-07 08:12] gmav opened #231 "Does it really work?"
Hi there, i am trying to follow the instructions to use Squirrel but it doesn't seem to work at all. I am using VS 2013 trying Install-Package Squirrel -Project XXX, but there is no Squirrel package available. Can i get some help here please?

thanks in advance

Geo

[2014-01-07 15:34] bgrainger commented on #231
AFAIK, the "Squirrel" package isn't yet available. I have been able to get Squirrel working by installing the old "Shimmer" package, then later upgrading to the `Squirrel.Core` and `Squirrel.Client` packages. See my writeup here: [What I had to do to get Squirrel working](https://gist.github.com/bgrainger/7287703).

[2014-01-07 16:26] gmav commented on #231
Thanks alot bgrainger, i've managed to make it work :)

[2014-01-16 09:47] devindran opened #233 "Shimmer using wrong package for deploy"
I'm not sure if this is a bug or if I'm doing something wrong.

I have installed Microsoft.AspNet.SignalR.Client using NuGet. The package gets created with 3 folders in it.

net40
net45
portable-net45+sl5+netcore45+wp8

My project references net45's dll. The code runs correctly when I debug it. However, I found out that when I used Shimmer to package the app, the eventual installer uses the dll fr

[2014-01-18 16:01] devindran commented on #233
After not getting it to work, my workaround was to remove the package entirely and just reference the dll directly in the nuspec file. Without the package there, it doesn't get a chance to go hunting for the wrong folder.

Appreciate it if someone could verify that this is not only happening to me.

[2014-01-18 20:33] flagbug commented on #233
Yeah, Squirrel doesn't handle assemblies with multiple framework targets very well currently.
I dug deep into the NuGet.Core code to find how they are doing it, but sadly I wasn't succesful.

[2014-01-22 20:05] shiftkey opened #234 "Move Squirrel to .NET 4.5"
First of all, my sincerest apologies for being lax in reviewing issues with Squirrel. I hit a super-hard issue which sapped all my motivation for this project. I'm now back at the point where I can look at this again (I have kept those emails as unread to nag me).

The more I've thought about Squirrel, the more I want to address this issue so I can get back to it. After exhausting all other option

[2014-01-22 21:23] peters commented on #234
Awesome sauce that you have found new motivation for moving the project forward. I must say i agree with your reasoning about >= .NET 4.5 support . I'm using `Squirrel` in 4 different applications right now and it works perfectly for our use cases (though with many workarounds `see outstanding issues`). So it would be great if you could fix some of the trivial issues before you move to .NET 4.5 so

[2014-01-22 22:18] flagbug commented on #234
Glad to see that this project hasn't been abandoned!

I'm all for switching to .NET 4.5, but I hope that there are plans that Squirrel can download .NET 4.5 if it's missing on the user's machine and install it automatically (if this is even working without an UAC prompt).

[2014-01-22 23:47] akoeplinger commented on #234
:+1: for moving to .NET 4.5, it's better to do it now than in a few months.

[2014-01-23 00:09] rzhw commented on #234
:+1:

There are other solutions around for installers and handling updates so I think it's worth it to leave the 4.0 baggage behind, but definitely do hope as well that installing 4.5 on systems that don't have it isn't too much of a hassle

[2014-01-23 01:14] shiftkey commented on #234
@peters I'll keep that in mind

@flagbug that's definitely something I intend to support. Will check the UAC situation.

[2014-01-23 01:30] shiftkey commented on #234
@flagbug

All the .NET Frameworks require elevation to install, but the UAC prompt in a vanilla Win7 install is rather plain:

![screen shot 2014-01-22 at 5 30 00 pm](https://f.cloud.github.com/assets/359239/1981016/f5d36b30-83cd-11e3-945f-2f23814165c6.png)

EDIT: it'll be a prerequisite anyway

[2014-01-23 05:00] bgrainger commented on #234
:+1: for moving to .NET 4.5. We did this for our app (that's not using Squirrel) when we realised that due to .NET 4.5 being an in-place upgrade, we'd have no way of knowing whether we were inadvertently triggering a .NET 4.0 bug (e.g., [see here](http://social.msdn.microsoft.com/Forums/vstudio/en-US/c05a8c02-de67-47a9-b4ed-fd8b622a7e4a/if-i-target-net-40-but-run-on-a-machine-that-has-net-45-will-

[2014-01-25 21:25] ghost opened #235 "Installer doesn't work"
If you build squirrel locally, then add it to a project (through nuget) and then generate the installer, it will display just an empty window.
The log looks like this:

[code]

[2014-01-27 15:26] jeremysimmons commented on #66
I'm not sure if this is relevant here or not, but

Microsoft documented this simple registry based approach to determine which .net framework is installed .
http://msdn.microsoft.com/en-us/library/hh925568(v=vs.110).aspx

[2014-02-04 01:02] ses4j commented on #227
Did you ever resolve this?

[2014-02-04 01:04] flagbug commented on #227
@ses4j Nope, that's just not possible at the moment

[2014-02-04 10:57] marcpiechura commented on #231
@gmav and @bgrainger
is it working in the real world for you ?
I have added Squirrel as you explained above @bgrainger  and it's working on my develeoper pc, with installation and autoupdate.
But if i try to install the application on another pc, the installer stops after showing the progress bar.
I also figured out that it writes the error messages during the Installation in the Shimmer Folder an

[2014-02-04 14:13] ses4j commented on #227
So what can you do to get the project dependencies outputs in the right place?

[2014-02-09 17:23] stefanolson commented on #234
Yes, please upgrade to .net 4.5 ASAP!  I am working on a product that requires.net 4.5 and I wish to use squirrel but the customers are going to get awfully confused when they find it won't run because .net 4.5 isn't installed.

It's great that you are able to put a bit more time into this project it has been a massive timesaver for me on my current project. So thanks so much.

[2014-02-10 07:01] stefanolson opened #236 "Application fails to update"
For the first time ever I have had a scenario where the application doesn't update. It clearly downloads the update but doesn't install it properly. all I get from the installer log is this:
[INFO][2014-02-10T07:13:25] UpdateManager: Downloading RELEASES file from http://[site].azurewebsites.net/setup
[INFO][2014-02-10T07:13:34] UpdateManager: cleanDeadVersions: for version 1.0.23
[INFO][2014-02-1

[2014-02-12 18:09] dchaib commented on #227
Does this mean it is not yet possible to use Squirrel with a solution that has more than one project? Even though it is fully documented?

[2014-02-12 18:15] flagbug commented on #227
It is possible if you manually copy the resulting .nupkg files of the projects into the releases folder

[2014-02-12 18:20] dchaib commented on #227
I must have done something wrong then, because I tried what you said and I still have the same error as the one you mentioned at the beginning.

[2014-02-12 18:42] dchaib commented on #227
I have tried to put ExternalProject-0.5.0-beta-full.nupkg in
- the `Releases` folder
- the `packages` folder
- a new `packages\ExternalProject` folder

It never worked...

[2014-02-12 18:49] flagbug commented on #227
Ah yes, I meant The packages folder...don't  understand why it doesn't work for you though

[2014-02-12 18:51] flagbug commented on #227
Try to delete the '-full' from the filename

[2014-02-12 19:02] dchaib commented on #227
I just managed to make it work by removing "-full" and also changing "-" into ".". In conclusion, I use this file:
`packages\ExternalProject\ExternalProject.0.5.0-beta.nupkg`
instead of:
`packages\ExternalProject\ExternalProject-0.5.0-beta-full.nupkg`.
Thanks for your help!

[2014-02-18 22:57] dchaib commented on #39
I am experiencing this issue when referencing Akavache: I have a .Net 4.5.1 WPF application, but instead of having Akavache.dll from lib\net45, I end up with the one from lib\Portable-Net45+WinRT45+WP8.
Is there any workaround I can use?

[2014-02-25 21:18] dchaib opened #240 "Application icon"
Is there a way to set the icon for the setup.exe file and Windows program list?

I have looked for one and haven't found any... If there isn't, wouldn't it make sense to use the `iconUrl` from the nuspec file?

[2014-03-14 17:12] flagbug opened #242 "Pre-release packages aren't handled correctly"
Creating a pre-release package, for example `1.0.0-beta1` and installing it, creates a folder called `app-1.0.0` in the installation directory.

Also, incrementing the beta package to `1.0.0-beta2` doesn't work, it won't create a diff package and also can't be installed as it Squirrel tries to overwrite the existing `app-1.0.0` directory.

[2014-03-15 18:07] flagbug opened #243 "Why do we rely on the NuGet dependency system?"
Ok, here are some thoughts I had while trying to integrate Squirrel.Windows into my application.

Currently, Squirrel takes the package that is created for the application and flattens all of the dependencies that come with it. The problem is that we now must figure out which binaries we want exactly in the final package (`net20`, `net45`, etc.)

This is currently a bit broken, as Squirrel sometim

[2014-03-19 23:38] dealproc opened #244 "Any suggestions on best practices for dynamic update Url?"
Looking to use Squirrel.Windows for an application that I need to provide auto-update functionality.  It's a Kiosk style application, and has a central "server" component that hosts the data bits that are fed into the Kiosk application.  According to the documents, we're supposed to call: `bool UpdateManager.CheckForUpdates("http://mycoolsite.com/releases/")` to check for updates, but I'd rather h

[2014-03-21 12:19] peters commented on #243
@flagbug I've been doing it the same way the past 8 months :) So i'm very pro getting rid of the nuget cruft. It's very buggy anyway :/

[2014-03-21 12:22] peters commented on #234
@paulcbetts @shiftkey Could anyone of you pleeeeeease publish a new release of 0.7.4 with updated nuget dependencies? Seriously i'm begging you guys.. i have a ton of updates pending because of old targeting :) :dancers: :dancers: :dancers: :dancers: :dancers:

[2014-03-23 01:50] shiftkey commented on #243
So when I was integrating this into _[redacted app]_ I had similar headaches.

You've definitely got some points about abusing NuGet conventions here. I had an idea a while ago to ship a script to perform a `Validate-Script` action to test that the combination of the build output + `files` in nuspec are correct (inspect assemblies might be a bit extreme, but not impossible).

NuGet can also valida

[2014-03-23 01:52] shiftkey commented on #234
@peters I'll get caremad and just :fire: all the things down tomorrow when I'm on decent internets.

Apologies for the delays, I'm finally cast-free and no longer a grumpy, one-handed developer...

[2014-03-23 02:07] shiftkey commented on #244
So ClickOnce is actually cheating in this regard, because you specify the **Installation Folder Location** as part of the publish step, and it uses that at runtime.

The other thing that ClickOnce does is let you specify a different [location for updates](http://msdn.microsoft.com/en-us/library/16z3sw0x.aspx), using the lovely `mage.exe` tool

[code]

But all those are pre-deployment options.

Wha

[2014-03-23 02:19] shiftkey commented on #240
Ok, so there's a couple of icons that could be used here.
- the `iconUrl` in the nuspec
- the resource icon for the `exe` inside the package

But I'm 99% sure we're not using either of these for the setup.exe we generate - because that's coming from our WiX template - [and that's expecting a file on disk](http://wixtoolset.org/documentation/manual/v3/xsd/wix/icon.html)

So as part of creating a re

[2014-03-23 02:21] #172 closed, assigned to nobody

[2014-03-23 02:31] shiftkey commented on #39
This might be because our version of NuGet is behind. I'll investigate.

[2014-03-23 02:39] shiftkey commented on #218
Seems legit

[2014-03-23 02:53] shiftkey commented on #66
I'm going to rev the setup bits to ensure .NET 4.5 is installed in the future. The installer template we used in the past would only install .NET 4, but when you want to do some nicer things everything breaks.

You can read [here](https://gist.github.com/shiftkey/1b60bb4fbf90ebe5286c) about the reasons behind it.

[2014-03-23 02:53] #66 closed, assigned to nobody

[2014-03-23 03:07] shiftkey commented on #233
Duplicate of #39, let's discuss it over there...

[2014-03-23 03:07] #233 closed, assigned to nobody

[2014-03-23 06:42] dealproc commented on #244
I have an "environment" per client in this instance.  Was hoping there was another way.

[2014-03-23 06:54] peters commented on #234
@shiftkey Awesome! :D

![](http://www.troll.me/images/steve-brule/weell-hello-welcome-back-again.jpg)

[2014-03-23 06:56] peters commented on #116
@shiftkey This can be closed.. i'm using https://github.com/peters/myget/blob/master/myget.include.ps1#L1471 instead :)

[2014-03-23 08:25] shiftkey commented on #244
I'm open to suggestions on this, but it's rather tricky because I don't want to depend on browser behaviour - we assume the same browser downloads the same bits from the same URL as the next browser (until you publish an update, of course)...

[2014-03-23 08:26] #116 closed, assigned to nobody

[2014-03-26 16:21] peters commented on #175
@shiftkey Guess you can close this ticket now :)

[2014-03-26 16:23] peters commented on #202
@shiftkey Solved via https://github.com/peters/myget/blob/master/myget.include.ps1#L69 so you can go ahead close this one as well.

[2014-03-28 07:50] peters opened #245 "Bug: Obsfucated assemblies does not provide a valid AssemblyInformationalVersionAttribute"
I forgot to report this, but all our programs are obsfucated. Therefore when we call update manager, there is always new releases to apply because assembly version to shimmer is reported as 0.0.0 when it's actually, i.e 1.2.3102.

The problem can easily be solved by adding a parameter overload accepting a "here is my real assembly version" version :)

Today we solve it by manually resolving the up

[2014-03-28 07:51] peters commented on #186
Closing this one because of https://github.com/Squirrel/Squirrel.Windows/pull/229.

[2014-03-28 07:51] #186 closed, assigned to nobody

[2014-03-28 07:52] #202 closed, assigned to nobody

[2014-03-28 07:54] peters commented on #177
The problem seem to have disappeared in nuget 2.8. I'll reopen if it comes back to haunt us :/

[2014-03-28 07:54] #177 closed, assigned to nobody

[2014-03-28 07:55] peters commented on #174
Please account for https://github.com/Squirrel/Squirrel.Windows/issues/245 when submitting a future PR.

[2014-03-28 07:58] peters commented on #168
Really looking forward to this!

[2014-03-29 21:53] dchaib commented on #240
It does! Let me know if I can help.

[2014-04-03 20:20] kerams opened #246 "Install-Package Squirrel.Client does not generate .nuspec file"
As per the QuickStart guide, I have run
`Install-Package Squirrel.Client -Project TestApp`
in a clean solution with a single WPF project created solely for testing. There were no errors and all references appeared in the solution. However, the .nuspec file is not automatically opened in VS and I can't find it in any folder.
Lastly, running `New-Release` results in the following error:
`The term 'N

[2014-04-04 18:18] bgrainger commented on #246
I've come back to an existing Squirrel-based project after a few months, and am getting the same error when trying to run `New-Release`. I don't remember everything that's changed in the meantime, but I have at least upgraded the installed version of NuGet (in VS > Tools > Extensions and Updates).

When I run the command, Process Monitor shows that devenv is searching all directories in my path fo

[2014-04-07 18:54] stefanolson commented on #246
It is working for me in visual studio 2013 update 2 RC (ie, the latest version of visual studio)

[2014-04-08 12:30] kerams commented on #246
I've just tried it with Update 2, but it has unsurprisingly (since Squirrel should already work on VS 2012 onwards) failed to resolve my issue. I feel like something very obvious is amiss.

[2014-04-14 20:57] floydpink opened #247 "Installer failing in an UpdateManager method on first install"
I could follow the documentation in the [wiki](https://github.com/Squirrel/Squirrel.Windows/wiki) as well as the instructions to use the Shimmer package from [Bradley Grainger's gist](https://gist.github.com/bgrainger/7287703) to successfully create the windows installer for [my mono-based multi-platform app](https://github.com/flickr-downloadr/flickr-downloadr-gtk/tree/squirrel).

But when I run

[2014-04-16 07:17] jittuu commented on #246
The same issue for me as well, and I'm using:
- VS2013 Update 2 RC
- Nuget 2.8.50313.46

[2014-04-17 14:04] bgrainger commented on #247
It appears that [`findCurrentVersion`](https://github.com/Squirrel/Squirrel.Windows/blob/master/src/Squirrel.Client/UpdateManager.cs#L403) will fail if there are two entries (in the list of releases) that have the same version. It's possible this could be caused by a malformed `RELEASES` file on your update server. What's the URL you're passing to the `UpdateManager` constructor in your code?

[2014-04-17 15:51] floydpink commented on #247
Thanks for helping out, @bgrainger.

I do not have an update server (yet) and I am not using the `UpdateManager` directly. Here are the things I did:
1. Installed Shimmer package (which in turn installed Shimmer.Client and Shimmer.Core)
2. Updated the projects to include the `BuildPackage` element.
3. Invoked the `Create-Release` powershell script from [the build script](https://github.com/flickr-

[2014-04-19 00:39] flagbug commented on #118
I've created a custom installer UI that borrows heavily from the VS installer style.

You can take a look at it here: https://github.com/flagbug/Squirrel.Windows.MahApps

The only downside is, that it has a dependency on MahApps.Metro, but it shouldn't be a problem to create a stripped down version by removing all controls that aren't needed.

[2014-04-23 08:18] bradphelan commented on #246
Same for me. No nuspec file and no New-Release command. My install is the following

[code]

[2014-04-23 08:38] jittuu commented on #246
I think squirrel transition is still in progress as of #211. we need to use [Shimmer](http://www.nuget.org/packages/Shimmer/) package for now. More info at this [Bradley Grainger's gist](https://gist.github.com/bgrainger/7287703)

[2014-05-30 08:32] patrickjohncollins commented on #205
This web.config should ideally be included automatically in Releases folder.

[2014-06-02 12:28] patrickjohncollins commented on #130
I do not see how the solution proposed by @peters (https://github.com/Squirrel/Squirrel.Windows/issues/130#issuecomment-24207839) is any help, for after an installation the new release is in a different sub folder.
Before : app-1.0.5266.22823\app.exe
After : app-1.0.5266.23129\app.exe
What we need is to run the app in the new folder, although I'm not sure of the best way to achieve this.

[2014-06-03 17:43] arlair commented on #246
I get the same problem.
VS 2012 Update 4
Nuget 2.8.50313.31

[2014-06-09 21:20] bgrainger commented on #246
I really wanted to ship an update, so I came back to my project and figured out how to get it working.
1. Squirrel appears to be incompatible with NuGet Automatic Package Restore; I had to [revert that commit](https://github.com/bgrainger/GitBlame/commit/e2667ee0416d2463988c458f8ed5912ac283c2c1) to get Squirrel working.
2. Clone the latest `Squirrel.Windows` code.
3. Revert 77c11df685498cb19729188

[2014-06-18 20:35] stefanolson commented on #236
This is due to an exception:
System.InvalidOperationException was caught
  HResult=-2146233079
  Message=AwaitableAsyncSubject<T>.GetResult() is rethrowing an inner exception
  Source=Shimmer.Core
  StackTrace:
       at ReactiveUIMicro.AwaitableAsyncSubject`1.GetResult()
       at Shimmer.Client.UpdateManager.<applyReleases>d__1f.MoveNext()
    --- End of stack trace from previous location where

[2014-06-18 20:37] stefanolson commented on #246
@bgrainger, your delta issue is caused by a problem with extracting the Delta. It should go to the full if the Delta fails, but the exception isn't handled within squirrel, thus it can't fall back.  The issue has been reported here
https://github.com/Squirrel/Squirrel.Windows/issues/236

Stefan

[2014-06-18 20:46] bgrainger commented on #236
I got this error with the most recent update I published, too. I didn't investigate any further, but simply pulled all delta packages from my feed (forcing users to download the full update).

It would be nice if Squirrel automatically fell back to trying the full update if the delta update fails.

[2014-06-19 09:22] peters commented on #236
I solved this by never uploading delta packages. Don't do it!

Regards,
Peter Sunde.

2014-06-18 22:46 GMT+02:00 Bradley Grainger notifications@github.com:

[2014-06-19 09:35] stefanolson commented on #236
@peters it works about 90% of time for me. So I'm going to implement a work around where if it fails to use the Delta then it goes back to the full.  My app is around 10 MB and if I don't need to download that much data it is better not to.

[2014-06-30 15:40] leorin commented on #246
Any fix for this problem? I want to use Squirrel:(

[2014-07-07 20:48] chuckwuthrich opened #249 "Setup.exe: Could not load file or assembly"
Hello -

I have a project that references another project. Admissions requires the Admissions.Extensions .dll to work correctly.

I have installed shimmer for my project using nuget and followed the instructions for adding an dependency to the installer, located [here](https://github.com/squirrel/Squirrel.Windows/wiki/Specifying-The-Right-Dependencies).

However, when I run the Setup.exe file, the

[2014-07-28 23:12] christianrondeau commented on #246
Same issue, with both Visual Studio 2013 Professional Update 2 and Visual Studio Express 2013 Update 2, with NuGet 2.8.50313.46. No nuspec file was created, and the Package Manager console only shows dependency installations.

[2014-09-02 16:21] arlair commented on #246
Just as a heads up, it seems like this Squirrel is road kill and work appears to be focused here on a cut down version:
https://github.com/Squirrel/Squirrel.Windows.Next

[2014-09-02 16:29] chuckwuthrich commented on #249
It appears this version of Squirrel is dead. I have found an alternate solution, so you can close this.

[2014-09-11 12:41] iamthefaker commented on #231
This is not exactly a solution, but I noticed this error seems to only occur on target machines where the dotnet 4 client profile is installed (not the full framework) and if I installed 4.5.2 (I just picked the latest so others may also work), the problem went away.

Presumably these ReactiveUI components I am bundling have some dependency on the full framework, and better solution (maybe better,

[2014-09-11 17:43] anaisbetts commented on #231
@iamthefaker Development is now ongoing in a new project https://github.com/Squirrel/Squirrel.Windows.Next, which has no dependency at all on ReactiveUI. Highly recommended for new development to switch to it

[2014-09-12 08:50] iamthefaker commented on #231
That's good to hear, Paul.

How ready-to-go is it?

[2014-09-12 18:01] anaisbetts commented on #231
The best way to track progress of Squirrel is via the Milestones page: https://github.com/Squirrel/Squirrel.Windows.Next/milestones.

Right now it is completely usable (i.e. will generate both installers and updaters) minus some polish steps. Here's the Getting Started info: https://gist.github.com/paulcbetts/599b435c05bb0e8a4080

[2014-10-21 08:14] dchaib commented on #240
I think I can close this! :)

[2014-10-21 08:14] #240 closed, assigned to nobody

[2015-01-05 11:08] #246 closed, assigned to nobody

[2015-12-08 17:57] #247 closed, assigned to nobody